[2015-01-20 15:15] petertodd opened #3 "Tags/commits aren't PGP signed"
Should be following best-practice used by parent Bitcoin Core project.

[2015-02-16 20:45] MineForeman opened #4 "ERROR: ReadBlockFromDisk : Deserialize or I/O error - ReadCompactSize() : size too large"
It is almost certainly an upstream issue and has been (posted here)[https://github.com/bitcoin/bitcoin/issues/5668] but I will post a note here, close it and then tell them about it as well.

It is annoying because my lighthouse server went out of sync twice now.  (not for long, still annoying though, I need to setup daemontools)

[2015-02-16 20:45] #4 closed

[2015-04-26 18:10] risenhoover opened #6 "0.10 Final Mac DMG is corrupt"
I tried to download and install the 0.10 Final DMG but upon unpacking and attempting to run, OSX reports it is corrupt. The RC version runs without error.

[2015-04-26 18:29] mikehearn commented on #6
OK. That's a Gatekeeper error, I must have messed up the gitian-specific signing process (it's kind of fiddly).

0.10.1 is about to come out any day now so I don't want to spend time fixing the OS X package for 0.10 Final, only to see it be immediately obsoleted. If the RC works please stick with that and I'll make sure to test the next build I do better to ensure the signatures are correct. Thank

[2015-04-29 15:01] mikehearn commented on #6
I've released 0.10.1 - does that work better for you?

[2015-05-15 17:28] gurnec opened #7 "Build / git issues with 0.10.1"
While trying to reproduce the 0.10.1 gitian build, I've run into a few minor but confusing issues.

The first is that the "0.10.1" tag points to some old commit. A somewhat related issue is that there exists a branch and a tag both named "0.10.1" which is somewhat confusing with git, and extremely confusing on GitHub.

By somewhat confusing with git, I simply mean that if I ask gbuild to build 0.1

[2015-05-30 10:08] pryds opened #8 "Reported version string"
According to getaddr.bitnodes.io, Bitcoin XT reports its version string as "/Satoshi:0.10.1/" -- i.e. the same as Bitcoin Core. Is this intentional?
Bitcoin XT version v0.10.1.0-7dd901c (64-bit)

[2015-05-31 11:25] F483 opened #9 "Enable bountysource contribution."
Given the recent block size issues and [Gavin's message](http://sourceforge.net/p/bitcoin/mailman/message/34155307/), I would like to show support by contributing some funds to this project.

Currently contributions are disabled and it would be nice if this changed.

https://www.bountysource.com/teams/bitcoinxt

[2015-05-31 17:20] mikehearn commented on #8
No, and I fixed it at some point but I must have accidentally reverted to an earlier patch during a rebase. Hence my comments about finding a better workflow. I will fix this soon.

[2015-05-31 18:10] vuego commented on #8
To me it looks like bitcoinxt 0.10.1 from 28 dec 2014 reports its version as "/Satoshi:0.10.1/" and 0.10.0 final from 13 feb 2015 reports as version "/Bitcoin XT:0.10.0/".

[2015-06-02 01:05] TheAwer opened #10 "No .sig file for (at least) Bitcoin.XT.0.10.1.dmg"
Just as the title says - there is no .sig file to verify the download of Bitcoin.XT.0.10.1.dmg.  As I am unsure of how to otherwise build Bitcoin XT, this is the method that I want to use, but I want to be able to GPG verify the download.

I have not checked if there is a lack of .sig files for other downloads too, I just noticed it for the Bitcoin.XT.0.10.1.dmg download.

[2015-06-02 01:09] TheAwer commented on #10
Forgot the check for if this was already an issue (whoops).  It is: https://github.com/bitcoinxt/bitcoinxt/issues/3

Closing issue.

[2015-06-02 01:09] #10 closed

[2015-06-02 01:12] TheAwer commented on #3
Any progress on this, @mikehearn?  I wanted to install Bitcoin XT, but without a .sig for the OS X download (and without knowledge or instructions on how to build it myself), I am reluctant to install what is on the .dmg.

[2015-06-02 10:41] mikehearn commented on #3
It's pointless to use a PGP signature for these downloads. They are served over SSL and you don't have a path to my PGP key through the web of trust anyway so you'd have to download it ... over SSL.

[2015-06-02 10:41] #3 closed

[2015-06-02 10:43] #6 closed

[2015-06-02 10:45] mikehearn commented on #7
Yes, I noticed these problems as well.

I plan to take some time in the next few days to come up with a different workflow to try and avoid hitting github/gbuild issues like this.

The commit was amended to update the README to point to the right download link. It's a fudge because there's no website. Obviously once there's a website there won't be any need to do that anymore.

In short: yes I kno

[2015-06-02 16:41] mikehearn commented on #9
Interesting idea, thanks. I think if we were to raise funds for XT work it'd be via Lighthouse though, as that's more Bitcoin native. I'll reconsider this idea if we find the workload is higher than expected and the amounts needed can't be raised in some other way. Thanks again!

[2015-06-02 16:41] #9 closed

[2015-06-02 16:59] TheAwer opened #11 "Activity Monitor reports process in OS X as "Bitcoin-Qt""
Present in OS X with v0.10.1.0-7dd901c.

Shouldn't this be changed to be "Bitcoin-XT", or is there a reason for it being "Bitcoin-Qt"?

[2015-06-02 17:10] TheAwer commented on #3
I suppose this is fine for now, but if Bitcoin XT becomes a more common client (which could happen with all the talk about 20 mb blocks), you should really look into this.

And a SSL connection doesn't prevent all threats - a PGP signature would just be another layer of optional security (of debatable security), which couldn't hurt.  Bitcoin Core downloads on the https Bitcoin.org website has a SH

[2015-06-02 17:46] mikehearn commented on #3
If we do the block size change, then I guess I'll team up with Gavin and he can sign things. His key is likely more widespread and trusted than mine.

Sure, I'll look at adding SHA256 sums to the next release.

[2015-06-02 18:04] mikehearn commented on #11
There were one or two places where renaming it seemed to cause other problems, I forgot why. But as you can't run both simultaneously anyway (unless you use separate ports and data directories) it didn't seem like a big deal at the time.

I can investigate some other time what it'd take to fiddle the remaining Bitcoin-Qt strings.

[2015-06-03 00:26] dexX7 opened #12 "Fork Bitcoin Core explicitly"
Bitcoin XT, while being a fork of Bitcoin Core, isn't considered as one by GitHub. Unfortunally this prevents comparing the changes made to Bitcoin XT, for example via GitHub's [fork compare](https://help.github.com/articles/comparing-commits-across-time/)/pull request mechanism, which is handy to answer the question: "what exactly is the diff between XT and Core?"

If this wasn't intentional, the

[2015-06-03 09:34] mikehearn commented on #12
I don't know how to tell github where the repository came from originally. It's not a fork on github because I just uploaded a local repository with changes I already had, rather than creating a fork and then cloning it down and re-applying the changes.

You can easily use "diff -ur" to see the differences, or use the git command line (eg "git diff 0.10.2A..upstream/master"), or just look at the c

[2015-06-03 09:34] #12 closed

[2015-06-03 13:40] TheAwer commented on #3
@mikehearn, you could look into https://keybase.io to build trust in your key using your online accounts without getting into the web of trust.

If you sign up in the next few hours, the code "shit-yeah-facebook" will get you an account right away.  Otherwise you have to get an invite (it's still in alpha) or wait in the queue.

[2015-06-03 13:51] mikehearn commented on #3
I could link my PGP key with github, but it'd boil down to an almost exact equivalence - it just makes github into a CA.

[2015-06-03 14:20] TheAwer commented on #3
If you do decide to sign up for Keybase, you can also verify from other accounts (Reddit, Twitter, Coinbase, your website, etc.).  And as the message is PGP signed on all those sites, those websites are more of an intermediary for verifying your identity than a CA.

SHA256 sums sounds good for the next release.

[2015-06-03 20:52] prusnak opened #13 "Implement SIGHASH_WITHINPUTVALUE"
This would make life SO MUCH easier for all hardware wallets and software wallets that don't have access to the blockchain.

Bitcointalk discussion: https://bitcointalk.org/index.php?topic=181734.0
Bitcoin-devel discussion: http://sourceforge.net/p/bitcoin/mailman/message/33261411/

[2015-06-03 22:45] mikehearn commented on #13
It might be easier to just make a new transaction version and alter the behaviour of CHECKSIG when txv=2, no? Does a patch for either approach exist?

I actually discussed this with Gavin earlier today. The sticking point is whether trying to overload the block size fork with other things, even basic and straightforward things like this, would reduce the chances of adoption by confusing people. I'

[2015-06-09 04:49] jwilkins commented on #3
@mikehearn step away from the keyboard....

[2015-06-09 23:33] erasmospunk opened #14 "Where is the 20mb consensus code?"
Sorry if it is obvious but I cannot find the code for the 20mb fork.

[2015-06-10 17:09] nathan-at-least opened #15 "Clarify policy on consensus deviation from Bitcoin-Core."
When I first read about this project some time ago the synopsis I was left with was along the lines of "Bitcoin-XT improves networking and other implementation aspects of Bitcoin while being consensus compatible." So I imagined, maybe there's an "XT backbone" that core nodes can't understand, but the blocks flowing between that network and the mainstream network were all part of *the* blockchain.

[2015-06-10 19:36] marzig76 commented on #14
Right in the readme, it says, "Please note that Bitcoin XT does not currently change anything about block size limits, although a future version might."

[2015-06-10 19:48] mikehearn commented on #14
Gavin hasn't submitted any patches to XT to change the block size limit yet. When/if he does submit, the release notes will record the fact that the new version votes for a new block size limit.

[2015-06-10 19:48] #14 closed

[2015-06-10 19:50] mikehearn commented on #3
@TheAwer there are SHA256 hashes of the downloads in the gitian release files:

https://github.com/bitcoinxt/gitian.sigs/blob/master/0.10.2A-linux/mike%40plan99.net/bitcoin-linux-0.10-build.assert

and that file is signed with my PGP key which you can get here:

https://vinumeris.com/mike-hearn.asc

Is that sufficient?

[2015-06-10 19:51] mikehearn commented on #15
XT is the same thing as Core with a few extra patches. So yes it connects to the P2P network.

The README already states that XT does not currently change anything in the consensus rules. If it does in a future version, the README will be updated to reflect that.

[2015-06-10 19:51] #15 closed

[2015-06-11 04:01] TheAwer commented on #3
Yeah, that looks like an okay setup, @mikehearn (although it could certainly be more streamlined - like one file with all the hashes in it.  This should be enough for those who want to check, though.).  Only problem is that I can't find the hash of Bitcoin.XT.dmg.  It seems that you skipped this file for some reason or something?  The closest match would be the hash of bitcoin-osx-signed.dmg, but

[2015-06-11 08:52] rubensayshi commented on #14
@mikehearn why did you `git commit --amend` instead of adding that line in a seperate commit ... :/ ?

[2015-06-11 10:08] mikehearn commented on #8
This was fixed in 0.10.2A

[2015-06-11 10:08] #8 closed

[2015-06-11 10:08] mikehearn commented on #7
The 0.10.2A release should be easier to reproduce. I gave it a tag that doesn't have the same name as the branch this time, so now things are sorted out.

[2015-06-11 10:08] #7 closed

[2015-06-11 10:09] mikehearn commented on #14
The README explains:

The patch set is a set of commits on top of each branch, with the patches
being rebased on the master branch when time permits and rebased on top of
the release branches when a new upstream release is made. Therefore XT does
not have its own release cycle.

*Patches, or changes to patches, are handled with rebases*. Therefore we
force push over previous pushes. Don't fork fro

[2015-06-11 10:11] mikehearn commented on #3
Bitcoin.XT.dmg is that file renamed. I think the hashes should match unless the Finder twiddles stuff inside the DMG when renaming it.

Like I said, checking PGP signatures on these things doesn't tell you much, as the root of trust is still the PKI anyway, and the binaries on Win/Mac are signed as well. So I don't want to spend time on streamlining this right now. Data from bitcoin.org logs shows

[2015-06-11 14:46] TheAwer commented on #3
My bad, I didn't actually check the hashes to see if it was the same.  It is.  Thanks for doing this - having this system is still better than nothing.  And I think that it's important to have security features like PGP sigs for those users who care enough to check this (I am one of those who check the PGP signatures).

[2015-06-11 16:27] erasmospunk commented on #14
Thanks for the heads up. I was under the impression that there was a branch with the new consensus code.

[2015-06-11 17:27] gurnec commented on #7
FYI I had no trouble doing a gitian build of 0.10.2A and verifying the sigs, thanks for your efforts!

[2015-06-11 17:53] mikehearn commented on #7
Great! If you want to contribute your sigs to the repo, that'd be appreciated!

[2015-06-26 01:23] disposable-ksa98 opened #17 "How can we stay tunned about XT?"
Theymos and his hounds seem to be doing some censoring at /r/Bitcoin. I saw a very detailed post that only enumerated facts about the debate (eg: it included some quotes from Satoshi, facts about Gavin, Mike, Blockstream, etc) but then it was gone.

So I'm afraid that when the time comes, you won't be able to inform the users since Theymos controls r/Bitcoin, bitcointalk.org, bitcoin.org, and bitc

[2015-06-26 13:04] chriswheeler commented on #17
Discussion: https://groups.google.com/forum/#!forum/bitcoin-xt
Announcements: https://groups.google.com/forum/#!forum/bitcoin-xt-announce

[2015-06-30 10:18] mikehearn commented on #17
Once XT has a website you will be able to sign up for email announcements there. I agree that it's annoying that theymos has decided to try and interfere with people learning about XT, but we'll see how it goes.

[2015-07-23 17:34] mikehearn commented on #11
This will be fixed in the new release.

[2015-07-23 17:34] #11 closed

[2015-08-10 01:22] anton000 commented on #17
are there updates on the XT site @mikehearn ?

[2015-08-11 06:54] bcolb commented on #17
In regards to the moderation or /r/bitcoin, there is also a new subreddit dedicated to XT, [/r/bitcoinxt](https://www.reddit.com/r/bitcoinxt/) if Reddit is your preferred avenue to stay up on things.

[2015-08-11 20:05] ali1234 opened #25 "Undocumented dependency on libcurl in 0.11A"
bitconxt-0.11A appears to have a dependency on libcurl. When executing ./autogen.sh && ./configure:

    ...
    checking for CURL... no
    configure: error: libcurl not found

This dependency is not present in bitcoin core nor in bitcoinxt-0.10.2A as far as I can tell.

The dependency is not documented in docs/build-unix.md. This is a problem because Unix systems typically have a choice of three

[2015-08-11 21:39] mikehearn commented on #25
Use the SSL version. I'll update the build docs soon.

[2015-08-12 03:32] rromanchuk opened #26 "Might want to remove the download from github link"
Now that you have a domain...i didn't realize latest binaries were already built.

[2015-08-12 06:50] mikehearn commented on #26
They aren't formally launched yet. Until they are, the defaults are still for 0.10.2A

I realise the wait is frustrating, but please bear with us. We'll make sure everyone knows once 0.11A is released.

[2015-08-12 06:50] #26 closed

[2015-08-12 18:31] rromanchuk commented on #26
thanks, @mikehearn dumb question, is 0.11A the release watered from 0.11.0 of core? If my node is already on 0.11.0 core should i wait for .11A? From what i remember of the release notes there were some backward compatibility concerns with this release. (I don't want to reindex)

[2015-08-12 19:08] mikehearn commented on #26
Yes, 0.11A is indeed based on Core 0.11

[2015-08-15 18:05] davalb opened #27 "Ubuntu 14.04. installation issue: error processing the archive"
I currently have BitcoinQT installed and I get an error when I try to install BitcoinXT with apt-get on Ubuntu 14.04. Should I remove BitcoinQT first? (I am afraid to lose the already downloaded blockchain if I do that.) This is the error message:
[code]

[2015-08-15 18:17] mikehearn commented on #27
You should be able to uninstall the existing package without losing any data. But if you're worried, just rename your ~/.bitcoin directory during the uninstall - that way in the unlikely event that your package deletes the block chain data if you uninstall it, nothing will happen.

[2015-08-15 18:17] #27 closed

[2015-08-15 21:35] essofluffy commented on #17
voat.co/v/bitcoin

[2015-08-16 00:57] gappleto97 opened #28 "Not installing properly from apt repository"
Error message as follows:

    Unpacking bitcoinxt (0.11A) ...
    dpkg: error processing archive /var/cache/apt/archives/bitcoinxt_0.11A_amd64.deb (--unpack):
     trying to overwrite '/usr/bin/bitcoin-qt', which is also in package bitcoin-qt 0.11.0-trusty1
    dpkg-deb: error: subprocess paste was killed by signal (Broken pipe)
    Errors were encountered while processing:
     /var/cache/apt/ar

[2015-08-16 01:07] MatthewLM opened #29 "75% consensus too risky?"
Hello,

It's a good idea to put the hard fork to a vote, but why was 75% chosen? It may appear to be a high majority, but 25% of miners disagreeing could mean a significant opposition. Even though they would be a minority, couldn't they still cause a vocal opposition? Maybe a significant number of people would maintain a legacy chain and perhaps brand it as the "True Bitcoin". It's not only miners

[2015-08-16 05:27] christophebiocca commented on #28
Looks like you've got bitcoin-qt installed, and it's conflicting? You'll probably need to uninstall it first.

Sounds like the `.deb` package should have a [Breaks or Conflicts](https://www.debian.org/doc/debian-policy/ch-relationships.html#s-breaks) annotation on it, to avoid the cryptic error message.

[2015-08-16 06:22] christophebiocca commented on #29
Miners don't *have* to mine larger blocks as soon as they're *allowed* to.

What that means is it's very likely that the 75% threshold + 2 week waiting period will come and go long before we see any miner try to cross the magic threshold. It could be weeks, months. It probably won't happen until we've got blocks that approach the 1MB threshold on a regular basis. Miners have no incentive to make a

[2015-08-16 10:59] davalb commented on #27
Thanks, that worked flawlessly. I removed QT, installed XT and blockchain and wallet data are still there.

[2015-08-16 11:02] MatthewLM commented on #29
@christophebiocca Sure, but there is nothing stopping them. The first 1+MB block could come whenever. After that moment the blockchains would fork for real, and there's no know what level of opposition there would be. Would it hurt to increase the consensus percentage?

[2015-08-16 12:04] hectorj commented on #12
I believe one way would be to delete this repo of Github, re-create it by forking https://github.com/bitcoin/bitcoin and re-push your branches into it.

[2015-08-16 13:04] mikehearn commented on #28
We should just rename the bitcoin-qt binary in the DEB. There's a script in git master that does the DEB builds. If someone could take it over and do it properly, that'd be perfect.

[2015-08-16 13:11] mikehearn commented on #29
Gavin chose it, but which threshold would you have chosen?

It's probably just splitting the difference between 50% and 100%. 50% is technically the most like democracy, but also risks bad behaviour if the actual 'vote' was too close to that. 100% is obviously a non-starter, it'd allow anyone to hold the entire community to ransom by just mining a few blocks and saying "pay me to stop mining". 75%

[2015-08-16 13:55] UnderTrader opened #30 "Merge darkcoin anonymous transactions"
Bitcoin Core refuses to make this coin anon.

Will XT make things right?

[2015-08-16 14:00] MatthewLM commented on #29
@mikehearn OK, and to extend the last point, some mining pools have a high percentage of the network, so increasing the percentage much further could make it easy for them to have a very strong influence, so maybe 75% is about right considering that.

Though what I would have personally done is to have Bitcoin XT mark transactions and measure a vote by Bitcoin days destroyed. Miners are important,

[2015-08-16 14:12] mikehearn commented on #29
I think someone would have to prototype an implementation of that first. It would require all users to upgrade their wallets, amongst other issues. Lots of very interesting open research questions around the topic of user voting.

Also be aware that some people e.g. the admins of bitcoin.org believe that user voting is some kind of evil that should never happen. They said they'd remove mention of

[2015-08-16 14:12] #29 closed

[2015-08-16 14:14] mikehearn commented on #30
To be considered patches need to be done in the form of a pull request.

[2015-08-16 14:14] #30 closed

[2015-08-16 17:21] mikehearn commented on #17
The new website is live. There's a box where you can subscribe to the announcements list.

[2015-08-16 17:21] #17 closed

[2015-08-16 19:32] luke-jr commented on #12
Note that fixing this will break GitHub's issue tracker.

[2015-08-16 20:23] zander commented on #25
I got a build working after installing the libcurl4-gnutls-dev (debian) package.

[2015-08-16 23:44] i-rme opened #33 ""Block size should be raised, but only in step with can reasonably be accomplished with engineering improvements to ensure a decentralized, policy neutral network. All that we ask for is the time for due process, not ultimatums and hostile forks""
## "Block size should be raised, but only in step with can reasonably be accomplished with engineering improvements to ensure a decentralized, policy neutral network. All that we ask for is the time for due process, not ultimatums and hostile forks"

-------- EDIT --------
I just dont want to see the Bitcoin Community fighting with each other, as I said in the IRC channel "just try to convince peo

[2015-08-17 00:20] UnderTraderGuy opened #34 "Policy on censorship of this site"
Twelve hours ago I opened an issue for adding anonymity to the Bitcoin protocol via XT in a hardfork. Mike Hearn dismissed it, saying the right way was to create a pull request.

I asked if it would be included if I made a pull request.

My request was censored. My github account was deleted. My reddit account was blocked for "making it up" after this website hid all mention of it. Apparently anon

[2015-08-17 01:25] rromanchuk commented on #34
How was your github account "deleted"?

[2015-08-17 01:29] rromanchuk commented on #4
hey @MineForeman, i was one of the nodes that ran into the above issue while back. Did you do anything out of the ordinary when switching form what i assume was 0.11.0 core to 11A? Are you using EBS as your media?

[2015-08-17 03:45] UnderTraderGuy commented on #34
I don't know how, but the username was "UnderTrader" and it gives a "page not found" error.  Issue number 30 also does. Should I just reopen the issue?  It was closed before being deleted. I do not want to misbehave.

[2015-08-17 03:58] christophebiocca commented on #34
Contact github support and ask them why you got deleted.

Mike has the power to close issues or to block you from the repo, but I doubt he has direct write access to GitHub's databases.

[2015-08-17 09:39] rromanchuk commented on #34
@UnderTraderGuy you need to contact github customer support. Just out of curiosity, did you take any actions that could have gotten you banned from github?

Don't reopen the issue, submit your pull request directly.

[2015-08-17 14:12] mikehearn commented on #12
Huh, why?

[2015-08-17 14:13] #33 closed

[2015-08-17 14:14] hectorj commented on #12
@mikehearn : I think @luke-jr is talking about the "solution" I described.

"delete this repo of Github" => lose all current issues and pull-requests

[2015-08-17 14:16] mikehearn commented on #34
I didn't do anything to ban or block you in any way. I don't know why github is giving you errors, but it's got nothing to do with me. Additionally issues don't get deleted, only closed. I don't even know if deletion is possible.

It's really hard to say if we'd accept code changes before we actually see them, especially given a very vague one line description. That's why I closed the issue.

I'll

[2015-08-17 14:16] #34 closed

[2015-08-17 14:17] mikehearn commented on #12
Yeah. I'm not going to do that. I might ask github support to manually edit their db or something, but I don't see why it's a big deal. Just use the command line, no big deal.

[2015-08-17 14:23] dexX7 commented on #12
@mikehearn: you may indeed contact the GitHub support and ask to update the network/fork status. I was once told by the support, in a similar context, that it's possible to change the parent of a project, if the projects are within the same network, so it looks like it's really just an update in their DB.

*Complexity kills kittens* (or whatever)

[2015-08-17 22:49] rromanchuk opened #36 "Misbehaving nodes against XT"
Feel free to close, would be nice to have a working document (gist?) where we could keep track of some of these hosts.

- 37.187.136.15

[2015-08-17 22:50] rromanchuk commented on #36
https://gist.github.com/rromanchuk/80394f4cf6569c08b6a5

[2015-08-17 22:50] #36 closed

[2015-08-18 00:01] TheAwer opened #37 "Startup info box image pixelation"
OS: OS X 10.10.4
XT: v0.11.0.0-2b918be

The XT logo image in the startup page (with "Activating best chain...", etc.) is rather pixelated.

You can also faintly see the square outline of the background of the logo image.

These obviously aren't very high priority issues, but it would be one very easy way to enhance the software.  It would also make a better first impression of the app.

[2015-08-18 05:00] mikehearn commented on #37
What sort of screen do you have? I have a MBP Retina and I don't see any visual artifacts on the splash screen.

[2015-08-18 06:57] jonasschnelli commented on #37
@TheAwer is right. The splash screen is non HiDPI (see below).
You probably need to exchange https://raw.githubusercontent.com/bitcoinxt/bitcoinxt/master/src/qt/res/icons/bitcoin.png to suport 1024x1024

<img width="592" alt="bildschirmfoto 2015-08-18 um 08 45 01" src="https://cloud.githubusercontent.com/assets/178464/9324056/0423f82c-4587-11e5-8f1b-c2e1dec5a257.png">

[2015-08-18 07:28] mikehearn commented on #37
Hmm. OK. I'll take a look when I have a bit of time next week. I didn't notice any issues, but perhaps my eyesight is getting worse again .... :/

[2015-08-18 08:36] sesam commented on #3
Bitcoin is either business or show business. In both cases security theatre has value. And it keeps devs honest and is a path towards safer binary distribution. Doesn't have to be perfect from the beginning. OTOH, users should compile it themselves.

[2015-08-18 15:11] mikehearn commented on #3
There are GPG signed gitian reports that you can compare against the downloads.

[2015-08-18 19:02] TheAwer commented on #37
@mikehearn if it helps, I'm on an older MacBook Pro (non-Retina).  I can see the background artifacts easier by looking at the screen from a low angle.  Look for the slightly darker stripe in the background - just above the middle of "Loading" in the the picture jonasschnelli posted.

[2015-08-19 00:23] christophebiocca opened #38 "Tunnel Tor IP download connections through the same proxy as the overall bitcoin connections."
[From here](http://lists.linuxfoundation.org/pipermail/bitcoin-dev/2015-August/010379.html)

TL;DR: By downloading Tor IPs in cleartext always we can accidentally leak the real IP of someone operating from behind Tor. Not good.

I may have the time to make a pull request to fix this. Alternatively disabling the lookup if any proxy/tor options are enabled would fix the issue.

[2015-08-19 00:56] christophebiocca commented on #38
Wow sorry, turns out [you did anticipate the problem](https://github.com/bitcoinxt/bitcoinxt/pull/20#issuecomment-124496944), and you do [exactly the workaround I was talking about](https://github.com/bitcoinxt/bitcoinxt/commit/73c9efe74c5cc8faea9c2b2c785a2f5b68aa4c23#diff-11780fa178b655146cb414161c635219R265)

That's what I get for taking someone else's bug report at face value.

[2015-08-19 01:52] christophebiocca commented on #38
And apparently my undestanding that this is a fix is wrong?

http://lists.linuxfoundation.org/pipermail/bitcoin-dev/2015-August/010386.html

I lack the in-depth codebase knowledge to evaluate what Peter is saying. It's your call.
Sorry about the issue spam.

[2015-08-19 07:49] Polve opened #40 "Switch to disable tor group download and anti-dos scheduling"
As outlined in this comment:
http://lists.linuxfoundation.org/pipermail/bitcoin-dev/2015-August/010379.html
the automatic download of tor exit nodes has serious privacy concerns, and should be disabled by default.

Is it possible to completely disable the use of anti-DoS resource scheduling via a commandline switch or configuration setting?

The complete text of the original comment follows:

[2015-08-19 10:22] paoloaga commented on #40
+1 !!!!

[2015-08-19 11:22] zander commented on #40
Duplicate of issue 38

[2015-08-19 13:06] christophebiocca commented on #40
As explained in #38, this won't run if you explicitly set a proxy or `listen=0`.

There is also `-disableipprio` which also disables that code regardless of any other settings.

[2015-08-19 13:17] Polve commented on #40
But I don't want to disable listening, quite the contrary, so listen=0 is out of question for me.
Also, if the claim here is correct: http://lists.linuxfoundation.org/pipermail/bitcoin-dev/2015-August/010386.html that option is not enough.

Does -disableipprio disable the download or has the same problem?

[2015-08-19 13:41] christophebiocca commented on #40
[Look at the code](https://github.com/bitcoinxt/bitcoinxt/commit/73c9efe74c5cc8faea9c2b2c785a2f5b68aa4c23#diff-11780fa178b655146cb414161c635219R263) and come to your own conclusion. I'm pretty sure it does, but I don't want to mislead.

What's your setup? Are you operating in both cleartext and Tor?

If yes, you probably have no privacy against any semi-serious attacker (they can deanonymize by se

[2015-08-19 14:01] Polve commented on #40
I simply want to run a (public) node that serves also tor exit nodes (but I'not running tor myself).

-disableipprio indeed seems to do the trick, then that's fine for me, if there are not other unexpected behaviours when using that option.

In that case feel free to close this issue, but I think that due to privacy concerns that should be the default value, or at least (much) better documented.

[2015-08-19 14:48] mikehearn commented on #40
The post to the Bitcoin Core list is (surprise) both manipulatively written, and wrong. I expect much more of this kind of thing from that camp unfortunately, given recent history.

It's mentioned on the website (click patches), in the commit logs, in the release announcement and has been discussed frequently on the mailing list.

Tor is not "blacklisted", traffic from it is treated as being less

[2015-08-19 14:48] #40 closed

[2015-08-19 14:54] mikehearn commented on #38
Peter's post is silly. You're about to make a bunch of connections to random computers on the internet that can and sometimes do log your IP along with anything else you send them. Talking to a Tor website as well isn't going to make any noticeable difference to anyone's privacy.

For the avoidance of doubt, our position is this: the IP addresses of Bitcoin nodes are not meant to be secrets *unles

[2015-08-19 14:54] #38 closed

[2015-08-19 18:37] JerryDurand opened #42 "Windows install leaves bitcoin-core in Start menu"
I installed 0.11A on Windows 7 and while all is working fine, it left the bitcoin-core folder in the Start menu and added a bitcoin-XT folder.  Aside from being messy, this gives the impression both are installed on the system when in fact bitcoin-xt overwrites bitcoin-core.

I forgot to check the uninstall section to see if it's listed twice there and my Windows system is off for the day, but I w

[2015-08-20 01:47] abelgo commented on #28
Hi guys,  I'm a bit confused here.

Is there an apt-get bitcoinxt package ?

https://github.com/bitcoinxt/bitcoinxt/blob/master/doc/build-unix.md seems to be taken straight out of the old core and point to that ?

If so are there any novice instructions on how to add the required sources.list files and do the xt update ?

[2015-08-20 02:33] christophebiocca commented on #28
@abelgo: Wrong place. Go look at https://bitcoinxt.software/apt.html for installation instructions.

[2015-08-20 04:32] abelgo commented on #28
Ok  https://bitcoinxt.software/apt.html mostly got me what I needed.

One other down side was no bitcoin-cli binary so I had to install the orignal bitcoind package first to get it then disable it.

This is my cheet sheet it might help some one.

_//assumes apt-get install bitcoind_
_// you need your own initd to start it up on boot._
_// use the bitcoind one._

cd /etc/init
sudo stop bitcoind
sud

[2015-08-20 07:13] schildbach commented on #28
The CLI-tool is called "bitcoinxt-cli".

[2015-08-20 08:44] mikehearn commented on #28
Yeah, it's meant to be parallel installable with the Bitcoin Core package, but it seems some debians bundle Qt and bitcoind together so in fact it isn't always so. The Debian package needs work, volunteers wanted.

[2015-08-20 08:44] #28 closed

[2015-08-20 08:45] mikehearn commented on #42
XT should not overwrite Core, if I recall correctly? Are you sure it does?

[2015-08-20 08:56] chriswheeler opened #43 "README.md doesn't mention ip prioritization changes"
I think the text from https://bitcoinxt.software/patches.html regarding Anti-DOS patches would suffice.

[2015-08-20 09:03] mikehearn commented on #43
We should just change the README to point to the website now. It used to function as an ad hoc website but that's no longer necessary.

[2015-08-20 15:10] JerryDurand commented on #42
It did on my system.  I checked file dates in the Programs folder.

On 08/20/2015 01:45 AM, Mike Hearn wrote:

--
Jerry Durand, Durand Interstellar, Inc.  www.interstellar.com
tel: +1 408 356-3886, USA toll free: 1 866 356-3886
Skype:  jerrydurand

[2015-08-20 19:44] mikehearn commented on #42
OK, I renamed the bug to reflect the real issue you're reporting here. It should be possible to have both installed at once. And I thought it was, but I didn't test that, so perhaps I need to rebrand more file paths. It'll go on the todo list.

[2015-08-20 19:51] JerryDurand commented on #42
Thanks.

On 08/20/2015 12:44 PM, Mike Hearn wrote:

--
Jerry Durand, Durand Interstellar, Inc.  www.interstellar.com
tel: +1 408 356-3886, USA toll free: 1 866 356-3886
Skype:  jerrydurand

[2015-08-21 01:04] rromanchuk commented on #43
You might want to explicitly add the flag for disabling in that text as well. So much nonsense going around, might want to err on the side of being overly explicit.

[2015-08-21 04:10] abelgo opened #44 "Prevent App Nap Check box missing on OSX build"
I'm having problems with the node going to sleep on OSX 10.10, Basically it stops updating when the mac-book goes into sleep mode and the node becomes unreachable.  In Core there is an option _Prevent App Nap_ Checkbox that comes up on the app _Get Info_   screen, this solved the problem in the past however that check box is not available in the XT osx app.

[2015-08-21 11:36] mikehearn commented on #43
The README points to the website which has a patches page that discusses it.

[2015-08-21 11:36] #43 closed

[2015-08-21 19:16] Matoking opened #45 "sighashlimit and accuratesigoplimit reported as max unsigned 64-bit integer"
My BitcoinXT node running on an ODROID-XU4 (an ARM development board) reports the sighashlimit and accuratesigoplimit values in getblocktemplate as the maximum unsigned 64-bit integer (18446744073709551615).

Since many JSON parsers (eg. jansson used by cgminer) fail to parse the response due to the extremely large integer, this also has the side effect of breaking some applications which depend o

[2015-08-23 07:43] lunokhod opened #47 "bitcoinxt broadcasts my ipv6 address when running with tor"
I am running bitcoinxt through a tor proxy on osx, but I have just noticed that even though my ipv4 address is hidden by tor, that there is a client connected to my real ipv6 address.

For info, I am running osx 10.10.5, tor  0.2.6.10, bitcoinxt v0.11.0.0-30017c1, and I have the following in my bitcoin.conf file:

[code]

[2015-08-23 11:55] mikehearn commented on #47
XT doesn't change anything in that part of the code: it will behave the same way as Core. So I guess this issue exists upstream too.

I think the problem is you're forcing listen=1. Normally using Tor would disable listening.

[2015-08-23 11:57] mikehearn commented on #45
Ah, JSON. What a wonderful data format ....

This is something for @gavinandresen to look at. Sounds like it could be hurting miner adoption.

[2015-08-23 12:51] lunokhod commented on #47
Actually, the solution appears to be to set discover=0 (listen=1 allows me to run a hidden service). My bad.

I think that it is odd that I need to do this, as discover=1 only revealed my ipv6 address and not my ipv4 address. In any case, I'm going to close this issue, and will bring it up at bitcoin core if anything odd resurfaces.

[2015-08-23 12:51] #47 closed

[2015-08-23 12:57] mikehearn commented on #47
Well it seems like something that should be fixed: such misconfigurations should be detected.

If you submit a patch to XT we'll review it and merge it, but you should indeed submit any fix to Core as well.

[2015-08-23 15:09] Matoking commented on #45
From what I've gathered (eg. Google's API [here](https://developers.google.com/discovery/v1/type-format)), the best way would be to encode it as a string when its value exceeds 9007199254740991 (see [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER)), as it is the maximum safe integer that can be represented in Javascript, and thus, JSO

[2015-08-23 16:42] dgenr8 commented on #45
Since the meaning of max numbers is "effectively no limit", these keys could be omitted entirely when value == max.

[2015-08-24 14:16] gavinandresen commented on #45
RE: encoding as string or leaving it out if it is max: RPC values should always be there AND always be a single type. Otherwise the code that interprets RPC results becomes a mess of conditionals.

2^53 is as good a value for "no limit" as 2^64 in this case, so lets go for the simple fix: define a uint64_t JSON_NUMBER_LIMIT = (1L<<53)-1; and use that.

[2015-08-24 15:17] mikehearn commented on #45
@Matoking would you be willing to try this patch and let us know if it fixes things?

https://github.com/bitcoinxt/bitcoinxt/pull/49

That'd help a lot!

[2015-08-24 19:15] Matoking commented on #45
The patch seems to work now that the JSON number limit is defined as a constant instead of as a result of a bit shift. cgminer also connects to the node with no problems with the fix in place.

[2015-08-24 21:13] luke-jr commented on #45
@gavinandresen This should be added to BIP 101 please.

[2015-08-25 18:48] dagurval commented on #47
I took a look at this -- and it does seem to be an valid, documented configuration.

From doc/tor.md:

[2015-08-27 03:44] Matoking commented on #45
Fixed by patch #49

[2015-08-27 03:44] #45 closed

[2015-08-27 13:07] mikehearn commented on #44
It's expected that the app will be suspended when you close the lid, no? Otherwise your laptop would literally never ever shut down and your battery would flatten very quickly.

I'm not sure why the XT and Core packages are different in this respect: both of them have the "disable app nap" setting configured to true in the Info.plist file. So neither should be using App Nap. However, that feature

[2015-08-30 22:30] wladston opened #53 "Implement Bandwidth Limit Settings"
There should be a GUI setting to control how much bandwidth the node is allowed to use, as discussed in this issue: https://github.com/bitcoin/bitcoin/issues/273

I'm willing to implement this issue, but that would be my first Bitcoin contribution. I would require some tutoring over IRC, but I can definitively implement this, if no one else wants to.

[2015-08-30 22:47] zander commented on #53
that would be wonderful

[2015-08-31 09:45] mikehearn commented on #53
Absolutely happy to do patch review and guidance. I'm usually on IRC during the European afternoon. Or you can just post questions to the mailing list.

[2015-08-31 12:16] mikehearn commented on #53
@jonasschnelli has already made a start on this. You could take a look at his code here, as a first step:

https://github.com/bitcoin/bitcoin/pull/6589

[2015-08-31 12:18] jonasschnelli commented on #53
limiting the bandwidth over all network operations is IMO a bad practice. A bandwidth trottle should respect important things like relay of blocks/tx or even responding to merkleblocks (maybe configurable). IMO most bandwidth could be kept tight if serving historical blocks would have a cap (or a throttle limit).

[2015-08-31 12:24] mikehearn commented on #53
In practice steady state bandwidth is trivial. The issue people complain about it almost certainly historical block chain upload. It's fine to focus on that only for now.

[2015-09-02 20:07] rromanchuk commented on #44
@abelgo if you're running a node you will need to go into mac os preference pane and adjust your power preferences.  @mikehearn is correct here, App Nap is unrelated to system sleep and is a new "power saving" technique released in Yosemite and higher which attempts to reduce cycles on apps that are not being used by the user.

[2015-09-02 20:09] #44 closed

[2015-09-04 15:10] prusnak commented on #13
Bumping the issue now that the block size limit is raised. Has anything changed from yours or Gavin's side?

[2015-09-04 15:14] gavinandresen commented on #13
I'm gonna close this, "I'd like you to implement..." issues are not useful-- discussions of priorities belong on mailing lists. Mike, if you'd like to have the issue list contain a list of priorities of big tasks to work on, feel free to re-open...

[2015-09-04 15:14] #13 closed

[2015-09-04 15:23] mikehearn commented on #13
@prusnak The block size limit has not been raised .... anyone who shows support for BIP 101 gets DoSd off the internet, as you are well aware.

There's no point in discussing further upgrades to the Bitcoin protocol at the moment. It may as well be frozen as far as I'm concerned. We cannot make any real progress here unless either XT catches on, or Core changes fundamentally, but right now XT can'

[2015-09-07 14:01] mikehearn commented on #37
Fixed by 9a448608941944ae1cb70eb6ecea9e22254e2656

[2015-09-07 14:01] #37 closed

[2015-09-09 00:50] Beanow opened #61 "Mempool size protection improvements for current flooding style"
@gavinandresen wrote in #56:

[code]

Today there was a flooding of the mempool that didn't rely on the amount of transactions but instead [used 500 inputs](https://tradeblock.com/bitcoin/address/1aaf64VJGMuYuRBMmM9y2s2pPADFpuqDE) to bloat each transaction to ~73kb and using a 1 satoshi/byte fee to have it linger around long. Resulting in peaks of ~48mb of mempool even though the backlog didn't go

[2015-09-09 01:00] dgenr8 commented on #61
Perhaps ejection should pick a random *byte* out of the mempool, and eject the tx it belongs to.  Fun implementation challenge.

[2015-09-09 10:37] Beanow opened #62 "0.11B -stealth-mode is not mentioned in command line usage"
`bitcoinxt-qt -? | grep stealth` is blank.

It does work though, connecting to a 0.11A node using `-stealth-mode` makes it report.

[code]

[2015-09-09 13:16] mikehearn commented on #61
You're right, but bear in mind such transactions consume UTXOs very fast. You can't just chain them forever.

Better algorithms to pick a random tx are certainly desirable. As the actual constraint is RAM, configuring by byte-size rather than num-txns is clearly superior. Picking a random byte and mapping it to the transaction is a good suggestion, but, would take more code and probably have worse

[2015-09-09 13:31] gavinandresen commented on #61
On Wed, Sep 9, 2015 at 9:16 AM, Mike Hearn <notifications@github.com> wrote:

Yes; see https://github.com/bitcoin/bitcoin/pull/6654/files for the
direction Core is going, and where you end up once you start down the path
of "lets be smarter about what we eject".

--
--
Gavin Andresen

[2015-09-09 13:43] Beanow commented on #61
@gavinandresen their code looks like a @#!% to implement across all wallets to avoid it.

@mikehearn agreed this issue shouldn't hold up the current release.
I figured I would start the improvements discussion here since we have a real-life sample.
I'll rename to clarify.

[2015-09-09 14:03] gavinandresen commented on #61
On the original topic of large, very-low-fee transactions:

They'll be rate-limited by this code:
[code]

... so I'm not sure there is anything to fix; a lower default for -limitfreerelay on lower-memory systems would make sense.

[2015-09-09 14:42] Beanow commented on #61
@gavinandresen interesting, I hadn't thought of this code since it didn't kick in. It seems in this attack they precisely avoided the [default value](https://github.com/bitcoinxt/bitcoinxt/blob/master/src/main.cpp#L71) with 1000 satoshis per 1000 bytes.
Making `nFees == ::minRelayTxFee.GetFee(nSize)` and not triggering this if statement.
They also avoided the code for detecting dust by having this

[2015-09-09 14:51] mikehearn commented on #61
Yes, the issue with these sorts of hard-coded defaults is DoS attackers can just go around them. I'm not a big fan of the rate limiter anyway. The rate limiter is why no wallets send free transactions in practice even if theoretically they could: it's just too unreliable (wallets are incentivised to minimise their fees).

I still like Tom's idea of random-byte. The resource that's limited is measu

[2015-09-09 15:48] Beanow commented on #61
Hmm, I'm having some doubts about the byte based searching. It would make it more likely that large TX are picked out. Legitimate use-cases (such as paying someone 5 BTC with a large amount of mining pool payouts as input) would be at risk of being discriminated against and experiencing bigger propagation issues than a small (2 in, 2 out, 400 bytes) TX would.

So in other words, I think in theory

[2015-09-09 18:24] dgenr8 commented on #61
@gavinandresen is right, even if preferring bigger txes is better, it's just one of quite a few interesting metrics, the balancing of which tends to bog down this discussion.

The random solution is very neutral.  I really like the fact that it prioritizes using the fee-based confirmation estimate, and NOT the fee itself.  That lines up with the node's interest (clearing out mempool quickly) witho

[2015-09-10 01:40] Beanow commented on #61
@gavinandresen attacks have been ongoing and I found `-minrelaytxfee=0.000012` to be very effective. Though the majority is not rejected through the rate limiting, but priority requirement.

[code]
[^above TX](https://tradeblock.com/bitcoin/tx/5a1ac0d4513e3af8894cea53a1313cb04b587a0dc3697c6f9bcf7a4055cb5a7e)

It seems as though they also attempted to game the "dust" code because it's based on the

[2015-09-10 03:12] Beanow opened #63 "Rate limit the popup warnings?"
This happened when I tried to send a transaction with one of the publicized private keys.
![Warning spam](http://ss.oscp.info/2015-09-10_05-09-55.png)

[2015-09-10 03:33] dgenr8 commented on #63
Ah that's lovely. Can you add a few specifics?

[2015-09-10 04:00] Beanow commented on #63
Besides the UI thread being bricked completely for about 20 seconds at a time?
The wallet hadn't caught up with the mempool, so it thought inputs were still available, I made TXes from the Send tab, sent them and a ton of these came back over time.

I sent 2 TXes, resulting in all these alerts and also the failed TX from other people (using the same private key I assume) coming in.

[2015-09-10 04:17] dgenr8 commented on #63
So that's what mom meant when she said there's no such thing as a free lunch ;)

[2015-09-10 09:27] zander commented on #63
I actually have been hit by a similar issue quite some time ago.  I'll take a look.

[2015-09-10 13:53] Beanow commented on #61
![TX backlog count](http://ss.oscp.info/2015-09-10_15-46-12.png)
![TX backlog size](http://ss.oscp.info/2015-09-10_15-46-34.png)

Given the above graphs,

I do think that supporting `-maxmempoolsize` would provide a valuable and (more?) reliable metric when it comes to keeping your node from running out of RAM. While keeping the same method of removing the TX (randomly, by TX index).

Like @mikehe

[2015-09-10 18:56] gavinandresen commented on #61
I agree, modifying the code to:

a) Limit by #bytes in mempool instead of #transactions (mempool.GetTotalTxSize already keeps track, can evict transactions until size is below limit)
b) Idea from mailing list: pick n random transactions (n == 2 or 3 or 4), evict one with lowest fee/kb
... would make it better.

I'll be traveling for the next ten days or so, if anybody else wants to tackle those ch

[2015-09-10 23:37] Beanow opened #68 "0.11B debian build autostarts, but not documented that way"
Near the bottom of https://bitcoinxt.software/apt.html
[code]

But since 0.11B it actually does auto-start when you've got systemd.
In fact it even auto-restarts. Which is confusing when you're not expecting it.

I'm not sure what the intended behaviour is, but either should be updated to be consistent.

[2015-09-11 00:02] Beanow commented on #61
To update on the chart:
![TX size](http://ss.oscp.info/2015-09-11_01-50-33.png)
![TX count](http://ss.oscp.info/2015-09-11_01-51-02.png)

In the end the 50k default TX limit triggered and both limit types seem to be viable at reducing RAM use. The "test" employed different ways to bloat the mempool and TX count and depending on the type of scheme used one or the other will detect a DoS first.

My

[2015-09-11 07:07] zander commented on #68
Thanks, this is outdated info, we made it autostart on systemd systems. I created a merge request for the website.

[2015-09-11 08:57] Beanow commented on #68
@zander if it is the intended behaviour, I think it should do this for other configurations than systemd as well. Like SysV style init.d, etc. The [current postinst](https://github.com/bitcoinxt/bitcoinxt/blob/0.11B/contrib/gitian-debian/build.sh#L92) checks for systemd only and outputs a message otherwise.

[2015-09-11 10:41] fraggle222 commented on #68
Personally I don't like this new behavior. I don't think it should autostart on install.

Anyone upgrading from .11A using apt-get will have problems: daemon autostarts and can't be killed (systemd is fairly new to Ubuntu as the standard , files in different directories (including where all the blocks are stored, bitcoin.conf, etc.).

Autostarting **by default** almost seems sneaky and bitcoin (no

[2015-09-11 11:15] zander commented on #68
@Beanow we currently only have expertise on systemd, which is by far the most used init system in use today on Debian systems.
If you feel strongly about other init systems and feel there are people that benefit from support, please feel free to pick up that maintainer task.  We always welcome contributors :)

@fraggle222 any service that is managed by the system (systemd in this case) needs to be

[2015-09-11 11:28] Beanow commented on #68
You mean debian based desktops. Systemd was not introduced to debian servers till v8 (jessie). Before then everything ran from init.d. With service <x> start. And a fair amount of server admins dislike the change, switching back. So I think supporting that would benefit many.

Before looking at adding this though, feedback is trickling in that it shouldn't autostart. Would like a conclusive answer

[2015-09-11 11:40] zander commented on #68
Yes, you are right. Debian desktops. If there is such a need and you can add the support for another init system in the same deb file, that would be wonderful.

I'm not sure if the main guys will be reading mail much this week (or the next) so you might wait a long time.
@stevemyers may have a say since he added the systemd support.  But I'm pretty sure we want it to autostart.

[2015-09-11 11:49] Beanow commented on #68
Also worth considering, making it interactive. "Register bitcoinxt to automatically start as a service? [Y/n]" "Start bitcoinxt daemon now? [Y/n]" sort of thing. Many deb packages do this for basic (re-)configuration.

Perhaps I'll have a go at making a PR for these things, but want to make sure it's desirable and won't get rejected for that.

TomZ <notifications@github.com> schreef op 11 septembe

[2015-09-11 12:18] fraggle222 commented on #68
Generally 'apt-get install' should not start any process that is potentially CPU, memory or disk intensive (without asking, see above). Compare to say "apache" which does not start eating up 45GB when it runs the first time and will only consume CPU, I/O if the website already has a ton of traffic. Same for something like Postfix or sshd, or many other 'services'.

Also is there any way to pass in

[2015-09-11 12:35] zander commented on #68
I personally reject the idea that installing packages per the instructions (adding key, adding source, installing) has to be made such that people that don't know what they are installing don't get hurt.

BitcoinXT is primarily a node on the network of Bitcoin. For that it has to run automatically.

[2015-09-11 17:42] stevemyers commented on #68
I don't mind changing the deb packaging script to ask before automatically enabling and starting the bitcoinxtd.service.  I can see that some people may want to manually change the bitcoin.conf file before starting the daemon.

[2015-09-11 17:47] Beanow commented on #68
On 11/09/15 19:42, Steve Myers wrote:

Exactly that argument was going to be my point.
Instantly starting with resource hogging, also not the best thing to do, but more importantly I think you would want to change some config values.

[2015-09-11 17:47] stevemyers commented on #68
I would make the default answer to the "automatically start daemon?" question Y though since as zander said the primary purpose of this package is for deploying and starting the daemon.

[2015-09-12 06:29] stevemyers commented on #68
@zander thanks for updating the docs.

[2015-09-12 22:23] gubatron opened #70 "build broken - net.cpp - error `CLIENT_VERSION_XT_SUBVER` not declared"
Just did a pull, tried to make and got this error. This probably shouldn't happen.
(I had built before, maybe about two weeks ago, no problems)
[code]

tried doing a `make clean`, `make`, but still nothing, guess I'll try to run `./configure` again.

[2015-09-13 06:06] stevemyers commented on #68
I created pull request #71 to ask the user if they want to autostart the ```bitcoinxtd``` daemon during installation of the debian package.  If the system being installed on doesn't have ```systemctl``` then no autostart is done (as before) and no question is asked.

@Beanow please take a look and let me know what you think.
@zander if this change goes in I think we should update the web page agai

[2015-09-13 16:30] gubatron commented on #70
nothing after cleaning and reconfiguring, the `CLIENT_VERSION_XT_SUBVER` definition will not be defined inside `bitcoin-config.h`.

I'm configuring my build with a switch to disable building the wallet, perhaps that has something to do with this. (`./configure --disable--wallet`)

I'm a noob when it comes to configure.ac and autoheader, any clue what could be the cause?

On my Makefile I see it's

[2015-09-13 16:36] dgenr8 commented on #70
Run autogen.sh

[2015-09-13 17:41] gubatron commented on #70
thanks!

[2015-09-13 17:41] #70 closed

[2015-09-14 10:51] ronohara opened #72 "0.11B - many UPnP messages"
At regular intervals the UPnP mapping seems to be done again. This is rather unexpected behaviour for me. I would have expected this at startup / shutdown, and perhaps if some network unreachable events occur.

However, this seems to happen at about 20 minute intervals.

2015-09-14 09:26:14 progress=0.999999  cache=51.7MiB(10478tx)
2015-09-14 09:34:46 Pre-allocating up to position 0xa00000 in rev0

[2015-09-14 11:02] zander commented on #72
Unexpected is a bit of on reason to create a bugreport.

What actually is going wrong?  Is this behavior causing problems?

[2015-09-14 12:02] ronohara commented on #72
Any time I see what is essential log flooding, I start to question why.  Is this accidental behaviour, or deliberate. Either can indicate a problem.

The repeated programming of a flash based device (aka your router), depending on the design of that router, can cause lots of writes to flash - ultimately that will break the flash, and the router with it.

So - I ask, is this repeated UPnP update de

[2015-09-14 15:07] mikehearn commented on #68
I'm personally fine with auto-starting, there's no point in installing a program if you aren't going to run it. I don't find it to be sneaky, it's normal for server packages to do that.

However I am happy to delegate to Steve on Debian/packaging matters, so I merged his PR to use debconf to ask the user.

This is a different issue. SystemD doesn't know that the exit was user requested. Perhaps it

[2015-09-14 15:07] #68 closed

[2015-09-14 16:33] mikehearn commented on #72
I agree it's odd. The code is clearly designed to do this but (surprise) there are no comments explaining why. Your guess is as good as ours here - you could try finding whoever wrote this code originally and asking them.

As there's no obvious problems being caused by this and nobody here knows the reason it works this way, I'm going to close this issue.

[2015-09-14 16:33] #72 closed

[2015-09-23 15:13] jrruethe opened #77 "Checksums for sources do not match"
Downloading the source archive from this link:
https://github.com/bitcoinxt/bitcoinxt/releases
https://github.com/bitcoinxt/bitcoinxt/archive/v0.11B.tar.gz
Gives me a sha256sum of:
f9fa35a0996d8b8b4eb20d77087b4463d84dc907124b73250cd82e81eed38139  bitcoinxt-0.11B.tar.gz

Whereas, the signed Gitian assert files claim the source sha256sum should be:
https://github.com/bitcoinxt/gitian.sigs/blob/maste

[2015-09-24 05:36] mikehearn commented on #77
If you want to reproduce the build yourself, you need to use gitian. You can't just grab the same source tarball, compile it and get the same build outputs. And if you do that (build the 0.11B branch) then you should get the identical source tarball out. Does that help?

[2015-09-25 00:29] jrruethe commented on #77
I'll look into gitian, I'm not super familiar with it. However, I'm not trying to reproduce the same build outputs, I'm trying to make sure I'm using the same build inputs. In other words, I want to be using the same source tarball that you guys used and signed.

Thanks for your response!

[2015-09-30 02:41] atweiden opened #79 "0.11B and only-bigblocks branches aren't compiling after miniupnpc update"
Compilation appears to fail after miniupnpc update. Core latest Git master branch is building fine.

https://aur.archlinux.org/packages/bitcoinxt-git/
https://aur.archlinux.org/packages/bitcoinxt-only-bigblocks-git/

0.11B:

[code]

bigblocks-only:

[code]

[2015-09-30 12:27] mikehearn commented on #79
Presumably Core 0.11.0 also fails to build then.

[2015-09-30 15:27] atweiden commented on #79
Correct. Core 0.11.0 fails to compile as well. It's solved by this commit: https://github.com/bitcoin/bitcoin/commit/af9305a7e8a40014508fb66a22ae95e8afe142c6

[2015-10-09 14:42] Meuh6879 opened #82 "link maxmempooltx to ping of RPC server."
Hello,
SPAM network is great to find somes setting to automate the purge system of the maxmempooltx.

So, i use P2Pool with a Bitcoin XT node in server/deamon enabled.
When i hit SPAM traffic, my bitcoin RPC don't answer to the P2Pool process (liked to ASIC machines).

maxmempooltx work great (like 500-1000-2000-3000) in SPAM period, but the mempool size can be less than 1Mb of block when the SPAM

[2015-10-12 01:09] jlopp commented on #62
Added documentation in https://github.com/bitcoinxt/bitcoinxt/pull/85

[2015-10-14 19:00] 5an1ty opened #86 "Getting an issue in my docker build using 0.11C"
Setting up bitcoinxt (0.11C) ...
    [91mdebconf: unable to initialize frontend: Dialog
    [0m [91mdebconf: (TERM is not set, so the dialog frontend is not usable.) debconf: falling back to frontend: Readline
    [0m [91mdebconf: unable to initialize frontend: Readline
    [0m [91mdebconf: (This frontend requires a controlling tty.)
    [0m [91mdebconf: falling back to frontend: Teletype
    [0m

[2015-10-14 19:38] 5an1ty commented on #86
Nevermind, issue with my image not bitcoinxt.

[2015-10-14 19:38] #86 closed

[2015-10-18 16:10] Meuh6879 opened #87 "add a auto-kick to strange client"
![533](https://cloud.githubusercontent.com/assets/7774112/10564861/2933a696-75c3-11e5-9eb1-7f5c8455863a.png)

In this example, i have a strange client with an old client revision (of fake ... ?).
The blocks synchro. don't up to actual number of block ... but it sucks all my upload bandwidth for nothing.

Can you implement an auto-kick feature to liberate the connexion from this phenomenal ?
Like :

[2015-10-23 05:10] TheAwer opened #88 "Potentially outdated example bitcoin.conf file?"
The bitcoin.conf file (bitcoinxt/contrib/debian/examples/bitcoin.conf) looks like it might be outdated.  It was last updated on March 21, and the one in the Bitcoin Core repo (https://github.com/bitcoin/bitcoin/blob/master/contrib/debian/examples/bitcoin.conf) was updated on September 22.  There are differences between the Core and XT example bitcoin.conf files currently.  And the XT bitcoin.conf

[2015-10-23 09:33] zander commented on #88
This is most likely due to the ridiculously long time between diverging of release and development branch in core. (about a year now).
XT is based on the release branch and that one doesn't have any commits from the development branch from core.

[2015-10-23 17:31] #79 closed

[2015-11-10 16:15] jl2012 opened #93 "Supporting BIP65"
Adoption of BIP65 has been started and around 1/5 of miners are now mining v4 blocks. XT should merge BIP65 as soon as possible

[2015-11-10 16:28] gavinandresen commented on #93
0.11 backport from Core is here:
  https://github.com/bitcoin/bitcoin/pull/6707

... should be easy to merge into XT.

[2015-11-14 17:02] jtoomim commented on #93
@gavinandresen @mikehearn I consider this a high priority. If nobody else steps up to merge this (maybe @dgenr8 ? I know he likes pulling stuff from Core), let me know and I can set aside testnet3 stuff to get this done.

[2015-11-14 18:16] zander commented on #93
What is the expected result on voting on BIP101 at the same time as voting on BIP65?

Don't they have different, incompatible, voting mechanisms?

[2015-11-14 18:23] gavinandresen commented on #93
ACK on supporting BIP65; I'm mostly out until Thursday with meetings, so can't help until then.

Re: voting: will be fine after BIP65 support is merged, assuming all BIP101 miners are also willing to vote for BIP65 (which is a very good assumption).

[2015-11-14 20:50] jtoomim commented on #93
@zander : As far as BIP65 is concerned, a vote for BIP65 is a block version > 3. This means that XT is already voting for BIP65. Once 75% of blocks are mined by BIP101 or BIP65 nodes, the BIP65 nodes will enforce BIP65 rules on any node with a version > 3. This means that an invalid OP_CLTV would cause XT blocks to be orphaned by BIP65 nodes, and this could cause a persistent fork if BIP101 hashpo

[2015-11-15 06:39] jameshilliard commented on #93
This is an interesting side effect of using version numbers for a hardfork attempt without support from most miners, rather than blocks getting orphaned at 95% for non-upgraded clients they get orphaned at 75%. The signaling method for BIP101 should probably be changed, using coinbase sigs for instance would not cause issues like this.

Luckily this is very unlikely to happen on mainnet.

[2015-11-15 06:51] jtoomim commented on #93
It's a side effect of having two simultaneous forks with incompatible version schemes. BIP101 used a pre-release draft of version bits (https://github.com/bitcoin/bips/blob/master/bip-0009.mediawiki), whereas BIP65 uses the old and incompatible sequential numbering scheme. Miner support has nothing to do with it.

Coinbase sigs is an inferior method to version bits as well, since the coinbase sig

[2015-11-15 19:05] jameshilliard commented on #93
The issue with miner support is that the current method of deploying a fork makes it difficult to indicate support for 2 different changes BIP65 and BIP101 at the same time. Due to BIP101 having nearly no support from miners it isn't really an issue to miners other than those using XT however but this could have been more problematic if there were more.

[2015-11-15 19:43] dgenr8 commented on #93
See #95

[2015-11-15 20:21] jameshilliard commented on #93
So this may be less of an issue at 75% than I originally thought. It may extend an invalid chain once 75% is reached, although it is unlikely an invalid chain will be produced at that point because CLTV is non-standard

[2015-11-15 21:15] dgenr8 commented on #93
@jameshilliard wrote...

You were right the first time.  It's an issue since somebody could deliberately mine a BIP101 block with a CTLV script that fails the check.

[2015-11-15 21:20] jameshilliard commented on #93
However their block would also get orphaned so this should be less likely to happen. So it is likely this will only be an issue at 95%.

[2015-11-16 16:24] chaosgrid commented on #93
There are a lot of assumptions here. Let me also make one: In a few weeks, the network will be saturated and there will be a great push and adoption for XT. There will still be a lot of old XT versions floating around, running on nodes and maybe some miners. This can lead to the situation where at 75% hash power after the January fork deadline, there may be XT nodes and miners that no longer form

[2015-11-16 18:43] jameshilliard commented on #93
This is probably a good idea regardless of weather or not XT gains miner support just so there is a way to differentiate between different types of blocks produced by XT.

[2015-11-24 22:14] gappleto97 opened #100 "Will there be an update to libsecp256k1?"

[2015-11-25 12:07] mikehearn commented on #100
Yes if/when we rebase onto 0.12 but it's not a priority. After initial sync this library makes little difference as your nodes signature cache should be warm, so block acceptance+relay involves very little signature checking, and tx relay time isn't much of a bottleneck right now.

[2015-12-02 13:08] error10 opened #101 "0.11D bip65-cltv test failure: JSONRPC error: CreateNewBlock(): TestBlockValidity failed"
[code]

Possibly related to #93

[2015-12-03 00:09] sandakersmann commented on #101
Ping @mikehearn and @gavinandresen

[2015-12-03 00:39] dgenr8 commented on #101
@error10 I can't reproduce when building from v0.11D tag.  What are you running exactly?

[2015-12-03 11:14] error10 commented on #101
@dgenr8 I'm building from this tarball https://github.com/bitcoinxt/bitcoinxt/archive/v0.11D.tar.gz

I'm building on Fedora 23 x86_64. The following packages were installed:

    dnf upgrade
    dnf install gcc gcc-c++ autoconf automake libtool libdb4-devel libdb4-cxx-devel qt-devel boost-devel openssl-devel libcurl-devel protobuf-devel

The build was done like this:

    ./autogen.sh
    ./config

[2015-12-03 17:56] dgenr8 commented on #101
Run the test with --nocleanup and look at debug.log in the created /tmp/... directory.

[2015-12-03 18:38] error10 commented on #101
@dgenr8 I have node0, node1, node2 and node3. It looks like node0 and node2 started up fairly normally and seem to have nothing untoward. node3 never created a debug.log. And node1's debug.log showed nothing unusual except this:

[code]

[2015-12-03 23:23] dgenr8 commented on #101
In the node1 log, what is the height= on the last UpdateTip message?

[2015-12-03 23:45] dgenr8 commented on #101
@error10 In node1 log, what is height= in the last UpdateTip message?

[2015-12-03 23:50] error10 commented on #101
@dgenr8 There are no UpdateTip messages in _any_ of the logs.

The version is:
2015-12-03 18:07:18 Bitcoin XT version v0.11.0D-gf2d5c61 (Sat, 28 Nov 2015 19:27:52 +0100)
2015-12-03 18:07:21 receive version message: /Bitcoin XT:0.11.0D/: version 70010, blocks=200, us=0.0.0.0:0, peerid=1

[2015-12-03 23:51] error10 commented on #101
[node0-regtest-debug.txt](https://github.com/bitcoinxt/bitcoinxt/files/51500/node0-regtest-debug.txt)
[node1-regtest-debug.txt](https://github.com/bitcoinxt/bitcoinxt/files/51499/node1-regtest-debug.txt)
[node2-regtest-debug.txt](https://github.com/bitcoinxt/bitcoinxt/files/51501/node2-regtest-debug.txt)

[2015-12-04 16:41] error10 opened #104 "test forknotify.py: JSONRPC error: CreateNewBlock(): TestBlockValidity failed"
Here we go again...

[code]

I think this is the same problem as in #101, only with a different test, but I would appreciate someone else (@dgenr8?) reviewing it.

Node debug logs are included:
[node0-regtest-debug.txt](https://github.com/bitcoinxt/bitcoinxt/files/52257/node0-regtest-debug.txt)
[node1-regtest-debug.txt](https://github.com/bitcoinxt/bitcoinxt/files/52256/node1-regtest-debug.txt)
[n

[2015-12-04 17:41] dgenr8 commented on #104
Looks like you're likely correct.  Can you apply the same change and check if it works?  If so, I'll add to the PR.

Out of curiousity, can you describe your system?

Any trouble with bigblocks.py, bip65-cltv-p2p.py, or bipdersig-p2p.py?  They also set block versions.

[2015-12-04 18:09] error10 commented on #104
Applying the same patch to forknotify.py results in a pass.

[code]

This system, as noted before, is running Fedora 23 x86_64. The kernel is 4.2.6-301.fc23.x86_64 . It is a KVM (qemu 2.3.1) virtual machine with 4GB of RAM and 8 vCPUs, and the host system has a Xeon D 1540 processor with 64GB of RAM.

I had no issues with bigblocks.py, bip65-cltv-p2p.py, or bipdersig-p2p.py. I did, however, also h

[2015-12-27 16:52] DeftNerd opened #110 "Enable pruning during node creation from latest check block"
When setting up a new BitcoinXT node, it's required to download all the blocks from the genesis block. Once everything is caught up, then you can restart your node with -prune=550 in order to prune the old blocks and allow the node to use less hard drive space.

In order to allow BitcoinXT to be spread far-and-wide, we should allow new nodes to start with pruning from the first step by contacting

[2015-12-27 19:26] christophebiocca commented on #110
The problem is without a copy of UTXO, you can't "start" at a given block.

I believe you can just start the node with `-prune=550` the first time you run it, and that way it never keeps more than 550 blocks. It'll still use the same bandwidth, but will have bounded disk usage.

[2015-12-28 15:22] DeftNerd opened #111 "Create and test script to convert from Bitcoin Core to Bitcoin XT"
Since BitcoinXT and Bitcoin Core are so similar in operation until a big block fork, in theory the database schema should be compatible.

I do not have a Bitcoin Core instance to test with, but it would be a good idea to test the following procedure

Stop bitcoind
Replace bitcoin binaries with bitcoinxt binaries
Restart daemon
Let BitcoinXT pick up where Bitcoin Core left off

If this does work, i

[2015-12-29 23:19] dgenr8 commented on #111
Is there a reason we don't / can't allow users the option to just install bitcoinxt onto an existing bitcoin installation?

[2016-01-02 16:42] PartTimeLegend opened #113 "GUI unable to launch on Arch with Cinnamon"
On initial launch if you set the client to start with system then reboot no applet is visible. Launching from menu then tells you that a lock can not be established.

I fixed this temporarily using `top` and finding the PID and executing `kill XXX` and launching BitcoinXT manually from the menu and unselecting start with system.

I installed via `yaourt -S bitcoinxt-gui-git` from the AUR https://a

[2016-01-02 19:20] christophebiocca commented on #113
The only thing I can think of is that it starts up before the tray system is up, and fails to detect it properly.

Does this occur with the latest version of Core?

[2016-01-02 23:55] PartTimeLegend commented on #113
Works fine with core, but I switched to XT as I support the need or the bigger blocks.

[2016-01-13 08:08] Levino opened #114 "Bitcoin classic support"
Is it coming / possible?

[2016-01-13 14:55] christophebiocca commented on #114
Classic needs to set their plan in stone first. Once that happens, support should be pretty easy.

[2016-01-18 12:38] santzi opened #116 "bitcoind crashed on Initializing databases phase"
OS: Linux Mint 17.1 Rebecca
Kernel: 3.14.39-031439-generic #201504211206 SMP Tue Apr 21 11:09:35 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

I compiled from latest source and it compiled ok.
./configure --disable-wallet --without-gui
make -j2

But when I launched bitcoind binary, it crashed immediately every time to:

"bitcoind: main.cpp:1983: bool ConnectBlock(const CBlock&, CValidationState&, CBloc

[2016-01-19 11:51] santzi commented on #116
Crash place on main.cpp (2003):
    // verify that the view's current state corresponds to the previous block
    uint256 hashPrevBlock = pindex->pprev == NULL ? uint256() : pindex->pprev->GetBlockHash();
    assert(hashPrevBlock == view.GetBestBlock());

[2016-01-19 15:39] dgenr8 commented on #116
@santzi This was seen before in #96 and no fix was found.  This is mainnet?  And you started with a database in place already?

[2016-01-20 05:28] santzi commented on #116
@dgenr8 Yes this is the mainnet. I used the same database with XT and 0.12 branch.
Should I download whole blockchain to get XT up and running? So different database to XT and 0.12?

[2016-01-20 15:31] dgenr8 commented on #116
@santzi It sound like your local copy of the blockchain, with its particular stale forks, may have a test case for the problem @gavinandresen hypothesized in #96.  Can you try core 0.11.2 please?

[2016-01-22 05:13] santzi commented on #116
@dgenr8 Is there anything what I can do for this issue? Should I try older XT versions?

[2016-01-22 05:40] dgenr8 commented on #116
If you have time, please try core 11.2, 11.1, 11.0 against your db.  The
results will isolate the problem to a core release, or XT.
On Jan 21, 2016 9:13 PM, "Santzi" <notifications@github.com> wrote:

[2016-01-22 09:18] santzi commented on #116
@dgenr8 Tests done. Results below.

~/Downloads/git/testing/11_2/bitcoin-0.11.2/src $ bitcoind: main.cpp:1836: bool ConnectBlock(const CBlock&, CValidationState&, CBlockIndex*, CCoinsViewCache&, bool): Assertion `hashPrevBlock == view.GetBestBlock()' failed.

~/Downloads/git/testing/11_1/bitcoin-0.11.1/src $ bitcoind: main.cpp:1814: bool ConnectBlock(const CBlock&, CValidationState&, CBlockIndex*,

[2016-01-22 09:51] santzi commented on #116
@dgenr8
This might be the reason. What you think?
This is from Bitcoin core 0.12.0 release note:

"Because release 0.12.0 and later will obfuscate the chainstate on every fresh sync or reindex, the chainstate is not backwards-compatible with pre-0.12 versions of Bitcoin Core or other software.

If you want to downgrade after you have done a reindex with 0.12.0 or later, you will need to reindex wh

[2016-01-22 16:30] dgenr8 commented on #116
@santzi Yes, sounds likely.  If you have space, make a copy of your data dir before you try reindexing, just on the chance that the problem is actually something else.

[2016-01-23 09:42] santzi commented on #116
@dgenr8 I have enough space and I'll try that today.

[2016-01-24 01:53] dgenr8 commented on #114
See #117

[2016-01-25 02:46] santzi commented on #116
@dgenr8 After reindexing XT working fine now. I think this issue could be closed, because there is mention about this on 0.12 release note. "chainstate is not backwards-compatible with pre-0.12 versions of Bitcoin Core or other software"

[2016-01-25 02:46] #116 closed

[2016-01-29 21:16] dgenr8 commented on #114
This is now in master.

[2016-01-29 21:16] #114 closed

[2016-02-08 23:24] error10 commented on #104
Fixed in 0.11E.

[2016-02-08 23:24] #104 closed

[2016-02-08 23:25] error10 commented on #101
Fixed in 0.11E.

[2016-02-08 23:25] #101 closed

[2016-02-09 01:27] error10 opened #125 "32-bit test_bitcoin failure: error in "MempoolAncestorIndexingTest""
On 32-bit Fedora 22 I get the following test failures from test_bitcoin.  When compiled on 64-bit Fedora 22, all tests pass.

[code]

[2016-02-09 20:03] dgenr8 commented on #125
Could you add some logging or otherwise get a stack trace revealing which call to CheckSort<3> is causing this?

[2016-02-09 21:17] error10 commented on #125
@dgenr8 After sprinkling `BOOST_TEST_MESSAGE()` liberally, I found that the call generating the five test failures is on line 376, the final call in the function.

[code]

[2016-02-11 01:25] dgenr8 commented on #125
@error10 Could you add the line marked with + in the CheckSort function

[code]

...and post the output from the last two tests under 32-bit, running

``src/test/test_bitcoin --run_test=mempool_tests --log_level=all``

[2016-02-11 02:57] error10 commented on #125
@dgenr8 Here's the last bit of the test run. I left a bit more in than you asked for, for some additional context.

[code]

[2016-02-11 20:04] dgenr8 commented on #125
@error10 Thank you.  Can you try modifying [this line](https://github.com/bitcoinxt/bitcoinxt/blob/master/src/txmempool.cpp#L266) to:

``int64_t modifySize = -((int64_t)removeIt->GetTxSize());``

[2016-02-12 07:58] error10 commented on #125
With this change, all tests pass.

[2016-02-12 16:02] dgenr8 commented on #125
@error10 Fixed in #127.

[2016-02-12 16:02] #125 closed

[2016-02-14 19:27] Nutomic opened #128 "Update apt repo?"
I'm installed XT from the [apt repo](https://bitcoinxt.software/apt.html). The latest available version is still v0.11.0D-b504e06.

Can you please update that to the latest version?

[2016-02-14 21:20] mikehearn commented on #128
The apt repo is no longer maintained, sorry.

[2016-02-14 21:20] #128 closed

[2016-02-14 23:19] Nutomic commented on #128
Too bad. I suggest you remove the link from the website then. Also, the download link still points to v0.11.D

[2016-02-14 23:51] dgenr8 commented on #128
Pinging @stevemyers just in case.

[2016-02-16 01:35] dgenr8 commented on #100
Done in 0.11E.

[2016-02-16 01:35] #100 closed

[2016-02-16 01:36] dgenr8 commented on #93
Done in 0.11D.

[2016-02-16 01:36] #93 closed

[2016-02-16 01:37] dgenr8 commented on #53
Done in 0.11D.

[2016-02-16 01:37] #53 closed

[2016-02-17 01:39] stevemyers commented on #128
Hi sorry, just saw your ping.  I'll update the binary versions in the gitian-debian build.sh script and update the README.md file to point to the correct binaries also.  Look for a pull request coming soon.

[2016-02-19 18:32] dagurval commented on #128
@Nutomic Can you try to do this and then apt-get update and apt-get upgrade? This repo is signed with the same key as the old one so there should be no warnings.

`
echo 'deb [ arch=amd64 ] http://xt.allnodes.xyz jessie main' > /etc/apt/sources.list.d/bitcoinxt.list
`

[2016-02-20 13:31] Nutomic commented on #128
Works perfectly, thanks! Makes running a node so much easier :)

[2016-02-20 17:06] dgenr8 commented on #86
@5an1ty Any interest in updating your docker build to 0.11E?

[2016-02-20 18:26] dagurval commented on #86
@dgenr8 the docker build has been updated https://github.com/5an1ty/docker-bitcoinxt/issues/1

[2016-02-20 18:58] dgenr8 commented on #86
You were way ahead of me :)

[2016-02-24 21:36] dgenr8 opened #130 "Get travis working"
@keo Any interest in getting travis working for us, with it fresh in your mind? :)

[2016-02-25 05:46] dagurval opened #131 "[apt] Move ntp to recommends"
Requested by [/u/RussianNeuroMancer)](https://www.reddit.com/r/bitcoinxt/comments/4704sd/aptrepository_has_been_updated_new_url/d0cxdha).

Currently the BitcoinXT apt package depends on installing ntp. Is there a good reason for this or can we make it optional (recommended)?

[2016-02-25 06:46] RussianNeuroMancer commented on #131
If systemd-timesyncd is installed and running (timedatectl status) then as I understand synchronization can be configured via /etc/systemd/timesyncd.conf or via NTP= option in network interface description for networkd (again, if enabled and used).

My point is that there is other options for time synchronization besides ntpd.

[2016-02-28 09:37] rromanchuk opened #132 "Are you sure BitcoinXT-0.11E.dmg is tagged correctly?"
It's late, maybe i'm losing it, but when I try launching this i'm getting 0.11D as the version. I'll try again tomorrow as a sanity test.

[2016-02-28 09:55] rromanchuk commented on #132
i noticed when i wasn't getting any logs with `debug=thin`, just built from source and now working as intended. I will double check the `.dmg` tomorrow, probably just user error, but if someone could just double check this for me i'd feel better.

[2016-03-01 11:00] keo commented on #130
Just saw this. I'm a bit backlogged right now but will look at it very soon.

[2016-03-20 12:33] matthiasmo opened #136 "Network rate limiter blocks connections if not all values are set in bitcoin.conf"
I added sendavg=600 and receiveavg=2000 to my bitcoin.conf

That resulted in  `connect() to xxx failed after select(): Connection refused (111)` errors.
Without those parameters and with all 4 parameters set everything worked fine.
I assume the undefined values default to 0 and all connections are blocked?

[2016-03-21 04:53] dgenr8 commented on #136
ping @gandrewstone

[2016-03-22 23:29] dgenr8 opened #138 "Remove p2p alert system"
A la https://github.com/bitcoin/bitcoin/pull/7692.

[2016-04-04 01:20] jeong760 opened #141 "Does Bitcoin-XT support a solo mining option?"
Dears,

Just I wonder if Bitcoin-XT supoort a solo mining option. because Yesterday I was installed it on my computer in order to test and I found when after Installed it cound not possible connect a local wallet with cgminer and mfgminer for solomining configuration on bitcoin.conf file.

[2016-04-09 16:13] dgenr8 commented on #141
@jeong760 Can you provide any details / logs to document what you are seeing?

[2016-04-15 03:13] JJburke opened #143 "Bitcoin XT Mac OSX"

[2016-04-16 15:31] #143 closed

[2016-05-23 00:14] dgenr8 commented on #138
See PR #150.

[2016-05-23 00:14] #138 closed

[2016-06-19 18:16] Conver commented on #111
I just tried this, and was able to. But it needed to reindex the whole blockchain everytime.

[2016-06-21 14:58] Conver opened #152 "0.11.0E : This version is obsolete; upgrade required!"
I believe this is the newest version, but I keep getting "This version is obsolete; upgrade required!" in `getinfo` RPC command, the qt wallet doesn't show the error.

[2016-06-21 17:55] dgenr8 commented on #152
Bitcoin XT master branch and upcoming "F" release have support for the
CSV soft fork and BIP9 (including the RPC interface).

The BIP109 (2MB) hard fork also continues to be signaled and supported.

P2Pool might need to be patched to set the 29th bit in the block version
to signal 2MB support. This was necessary in the past.

Also of interest to miners that have customized CreateNewBlock -- XT has

[2016-06-21 17:59] Conver commented on #152
So I can ignore that error?, it is the latest version?

[2016-06-21 18:49] dgenr8 commented on #152
The warning is caused by version E observing a majority of CSV-support-signaling blocks on the network.

Probably before 2016-07-05, actual CSV transactions will begin to be mined.  Version E will see these transactions as valid in blocks, but will not be able to fully verify that they correctly follow the new rules.  In other words, version E will have only SPV (trust in miners) security for thos

[2016-06-25 22:35] Conver commented on #152
Just to confirm, that it is now gone with the new version F.

[2016-06-26 15:52] Conver commented on #152
Sorry, but its not totally gone.

It is not showing on my bitcoin XT qt on Win64, but its it showing on same version on bitcoind on unix 64.

[2016-06-26 19:02] RussianNeuroMancer commented on #131
Seems like latest package still depend on ntp daemon.

[2016-06-27 19:21] dgenr8 commented on #131
@RussianNeuroMancer Are you able to submit a PR?

[2016-06-27 19:53] dgenr8 commented on #152
Have you checked debug.log? Are there old running processes (`ps xa | grep bitocind`)?  Is your system clock set correctly?

[2016-06-30 07:42] RussianNeuroMancer commented on #131
I am not developer, I can't write fix for that.

[2016-06-30 17:05] KlausT opened #153 "xxx does not support thin blocks, disconnecting"
Is this intended behavior when I don't use any special options?

0.11.x and older clients are not being disconnected, as far as I can see

[2016-06-30 21:15] dagurval commented on #131
@RussianNeuroMancer Can you try out the .deb package in https://github.com/bitcoinxt/bitcoinxt/issues/154 (first comment)? Does it solve this issue?

[2016-06-30 21:26] dagurval commented on #153
At around the time Bitcoin XT started doing bloom thin blocks, Core changed the standard behaviour of merkleblock requests and broke compatibility with our thin block implementation. Classic also has this one liner change. More discussion here: https://github.com/bitcoinclassic/bitcoinclassic/pull/125

For _outgoing_ connections we avoid peers that don't support thin blocks. This means core > 0.12

[2016-07-04 07:52] RussianNeuroMancer commented on #131
Yes, with this deb package ntp can be removed now. Thanks!

[2016-07-05 01:40] #131 closed

[2016-07-07 22:46] NanoAkron commented on #153
I find any behaviour that segregates peers to be a bit distasteful. This is meant to be 'peer-to-peer electronic cash' after all.

[2016-07-08 08:00] dagurval commented on #153
Peer selection for _outgoing connections only_ is needed to be able to use the thin blocks feature of XT. Core 0.12 simply does not support thin blocks. If this is distasteful to you, please disable this feature on your node.

Anyhow, If you look at what peers XT nodes are connected to, you will see that there is none to little segregation of peers in practice. Here is my node:

38% of the nodes m

[2016-07-09 23:28] NanoAkron commented on #153
Which feature - connecting only to XThin supporting nodes, or XThin itself?

[2016-07-10 09:23] dagurval commented on #153
You cannot disable peer selection without disabling thin blocks at this time.

[2016-07-25 19:00] dgenr8 commented on #153
Setting ``-use-thin-blocks=3`` (xthin blocks only mode) will keep outbound connections to Unlimited, and soon Classic, nodes that provide xthin service.  It also has the effect of not downloading from peers that don't support xthin.

[2016-08-20 21:46] daveio opened #161 "OS X: No release of 0.11F for Mac"
The [release list](https://github.com/bitcoinxt/bitcoinxt/releases) doesn't show a Mac .dmg for the 0.11F release.

[2016-10-20 20:59] RussianNeuroMancer commented on #131
Seems like deb package in repository was built with old build.sh, so this change doesn't included in Debian repository.

[2016-10-20 21:05] dagurval commented on #131
There has not been a new release since the fix was merged.

It will be included in the next release.

[2016-10-20 21:15] RussianNeuroMancer commented on #131
Ok, I see. Thanks for fast answer!

[2016-10-20 21:30] dagurval commented on #131
Thank you for running XT :-)

[2016-11-25 17:02] bitcoinpay opened #174 "paytxfee behavior"
Calculation of the transaction fee when "paytxfee" is set in config behaves like a flat fee no matter how big transaction you send.

Related:
https://github.com/bitcoin/bitcoin/issues/7633

Per @sipa :
In earlier versions however the size of a transaction was rounded up to a multiple of 1000, as that is how the mining code used to sort transaction years ago. In 0.12, it was finally changed to the

[2016-12-01 09:24] dgenr8 opened #176 "Revert BIP109; Support miner-driven blocksize consensus"
Revert support for the BIP109 blocksize increase mechanism and, when finalized, adopt blocksize consensus changes compatible with those in Bitcoin Unlimited.

[2016-12-02 17:37] easye35 opened #177 "Payments not going through"
I've made several bitcoin payments the past few weeks, all of them get stuck. the first two only went through on the third day.  the payment I made yesterday is stuck unconfirmed.

Status: 0/unconfirmed
Date: 12/1/2016 09:50
To: 16UYQwUqEmExAWa8bBS6RMrjawg6FLCncr
Debit: -0.00100000 BTC
Transaction fee: -0.00011695 BTC
Net amount: -0.00111695 BTC
Transaction ID: 436b56f6d2a8346e971088abaddc3ad97f89

[2016-12-02 21:33] dagurval commented on #177
Did you use the default fee rate suggested by Bitcoin XT? If so, we should bump the default fee. Due to broken network conditions (full blocks) the fee required is absurdly high.

If your transaction does not confirm within 72 hours, the network may allow you to re-send them (double spend them) with a higher fee.

To do this:
Backup of your wallet. Then use `-zapwallettxes` to remove unconfirmed t

[2016-12-02 21:35] dagurval commented on #177
Related issue: https://github.com/bitcoinxt/bitcoinxt/issues/174

[2016-12-02 21:35] easye35 commented on #177
Yes, I used default fee. Last time it waited either close to or right at 72
hours, then confirmed all at once

On Fri, Dec 2, 2016 at 2:33 PM dagurval <notifications@github.com> wrote:

[2016-12-02 22:18] easye35 commented on #177
issue #174 from what I'm reading is that the tans fee is setting to a default amount, but my trans fee was 0.00011695 BTC which is way about what that complaint was about I think.

[2016-12-02 23:30] easye35 commented on #177
I just sent another payment, this time it at least says broadcast through 8 nodes, I notice the stuck one doesn't say that. is that the problem? It isn't getting accepted by the blockchain?

[2016-12-06 14:57] dagurval commented on #177
For anyone else having this issue, ViaBTC has created a workaround transactions that are not confirming: https://www.viabtc.com/tools/txaccelerator/

[2016-12-08 07:13] rebroad opened #179 "get_xthin messages being sent for blocks >21hrs old"
Have just downloaded the latest bitcoinxt (314b915fc6ac90c52b4d296e1b3a0d613e87c0cb). I was about 24 hour behind on the blockchain, so was surprised to see that the first of every block request going to each peer is a thin block request, which I understood only provided benefits if they were recent and used txs in the memory pool - both of which criteria are not satisfied when 24 hours behind and

[2016-12-08 07:22] dagurval commented on #179
Can you look for this line?
_[Timestmap] No longer initial block download_

Does the first thin block download come before or after this line?

[2016-12-08 09:14] rebroad commented on #179
@dagurval after this line admitedly, but given the blocks are 21hrs old, I still refer to it as IBD, so apologies for the poor communication here. The point is that thinblocks aren't helping when the mempool is unlikely to be storing the txs for blocks made 21 hours ago (which is also the case when the mempool is empty).

[2016-12-08 10:17] dagurval commented on #179
Thanks for the report. I suppose the IBD check could be better. Anyhow, I think this is a non-issue. I argue this because:

XThin thin blocks:
XThin requests get a full block response if responding with a thin block would be less efficient. This is possible to know because of the bloom filter sent along with the xthin request.

Compact thin blocks:
Compact requests get a full block response if the

[2016-12-08 14:38] rebroad opened #180 "sending multiple getheaders requests to the same peer for the same header"
debug.log extract:-

[code]

The "TEMP" line has been added at line 147 in blockannounce.cpp to check where requestHeaders() was being called from. IBD is going very slowly due to this behaviour currently. (7e0ca8cfb49b69c336bae58843c6760061b6baf7)

[2016-12-08 19:29] dgenr8 commented on #180
Thanks @rebroad.  That's an interesting bunch of debugging stuff you've got applied there!

[2016-12-22 06:13] dgenr8 commented on #176
#181 implements this first step.

[2017-01-09 23:00] dgenr8 commented on #174
@bitcoinpay In the PR you referenced, the poster was concerned about paying too little fee with the 0.12 changes to stop rounding and set ``fPayAtLeastCustomFee`` to false.

The request to behave the same as core is reasonable, but can you clarify whether your concern is the same?  Are you worried about paying too little fee?  The current behavior in XT is to round up to 1KB, but above that, no ro

[2017-01-12 11:42] Svolentin commented on #161
11E for Mac is not working. Need update.

[2017-04-09 20:52] CryptoDwarf opened #195 "Mempool saving feature between restarts"
Bitcoin core 0.14 has a mempool saving feature that saves the mempool states between restarts. This is a very useful feature for people who multiboot between O/S's. (and also in the event of a system crash for miners.) I think this would be useful to add to bitcoin XT.
I am not familiar with this part of the code, but I would look to implement the transaction pool in a virtual memory segment using

[2017-04-10 09:40] CryptoDwarf commented on #195
I have opened similar issues on Classic and BU:

https://github.com/bitcoinclassic/bitcoinclassic/issues/251
https://github.com/BitcoinUnlimited/BitcoinUnlimited/issues/438

So far zander has provided some insights and thoughts on this issue, which are certainly worth considering.

[2017-04-10 18:28] dagurval commented on #195
What's a good use case for this? I don't think recovery after system reboot is a good one.

If there is a good use case, how about seeding our mempool with other nodes mempool instead? It's possible to send a "mempool" request to other nodes to retrieve the contents of their pool.

[2017-04-10 20:09] CryptoDwarf commented on #195
Yes, if you read the bitcoin classic issue, I came to the conclusion that synchronising the transaction pool from other peers on startup would be a better solution instead. I think the reason to do this is to prevent a possible double spending path through 'part-time' nodes which do not run 24x7, when the transaction may get rejected by the mining pools. That is quite important if zero confirmatio

[2017-04-10 21:39] dagurval commented on #195
Downside of requesting the mempool from other nodes is that it relatively bandwidth intensive.

Only use case I can think of is for better thin block performance at start up - if we plan on keeping the 1MB limit. With the limit transactions may stay unconfirmed for some hours. But we don't plan on keeping the limit :-).

[2017-04-10 21:49] CryptoDwarf commented on #195
Zero confirmation economic risk is a whole different ball game with full blocks, as it changes from the disadvantageous double spend attempt to one where the transaction may not get confirmed at all and is dropped from forgetful mempools!
Even with bigger blocksizes, there is still potential for peak mempool flood activity, where the miners may not be able to keep up with demand quick enough for a

[2017-04-11 00:52] CryptoDwarf commented on #195
gmaxwell as outlined the idea behind this feature.

https://bitcointalk.org/index.php?topic=1864311.0

[2017-05-25 14:08] 1Hyena opened #205 "Enable wallet in pruning mode"
I installed BitcoinXT from APT Repository and started it in pruned mode. I am not able to use any wallet commands.
[code]

I need to monitor certain addresses for double spends without actually having a private key of that address. Is this currently not possible at all? I believe Bitcoin Core has implemented wallet functionality in pruning mode so perhaps adding it to XT is not that hard?

[2017-05-25 16:23] dgenr8 commented on #205
@1Hyena Your use case makes a ton of sense; I can see why wallet support in pruned mode would be very valuable with double-spend notifications.  In the short term you have to run a full node but this would be a good cherry-pick.

[2017-05-26 10:26] 1Hyena commented on #205
@dgenr8 I need pruning mode with watch address functionality because I intend to launch many low-cost XT nodes for the BTC casino that employs me, have them all connected to different (random) parts of the Bitcoin network to get good coverage and then report double spends to a central server.

[2017-05-26 15:36] dgenr8 commented on #205
Connecting "to" many nodes only requires one node (albeit one that has an increased outbound connection limit).

[2017-05-29 07:23] 1Hyena commented on #205
@dgenr8 There's still a total maximum connections a node can have. So to scale horizontally I'd still have to run multiple nodes. Also because most of the network is currently not relaying double spends it is better to have many nodes. When more implementations start relaying double spends then one XT node will probably be enough.

[2017-06-07 13:51] theochino commented on #174
Just got caught with my pants down. Created a transaction in a pinch;
Could the behavior be checked against the estimate fee and stop the TX if the fee smaller than it should ?
(Maybe adding a --force flag.)

[2017-07-25 10:07] sHAsHiLx opened #225 "New versions?"
Just want to ask - when new version out? Or project freezed??

[2017-07-27 02:56] dgenr8 commented on #225
XT release G will support Bitcoin Cash.  Obviously the timeline is very short but stay up-to-date with progress on the Projects page above.

[2017-07-27 02:56] #225 closed

[2017-07-30 11:28] Erstus opened #234 "Disincentivizing Double-Spending by Making it Unprofitable"
Since Bitcoin XT relays double spending transactions by default I think the following whitepaper is relevant to the interests of Bitcoin XT developers. I have copied it in this issue because it happens to use markdown format. Original whitepaper stored on the Bitcoin block chain is accessible from here:
http://cryptograffiti.info/#0809e7f31d074eefc0f1f02463a28b5238688aa73e6361c01cbc7b1848ac8d93.md

[2017-08-02 02:35] chaosgrid opened #235 "0.11.0G Node cannot join Bitcoin Cash Fork"
My node gets stuck on block 478558 and flags any nodes that seemingly want to send me the rightful block as Misbehaving:

`2017-08-01 18:13:08 received compactblock 000000000000000000651ef99cb9fcbe0dadde1d424bd9f15ff20136191a5eec from peer=229
2017-08-01 18:13:08 received compactblock 000000000000000000651ef99cb9fcbe0dadde1d424bd9f15ff20136191a5eec from peer=681
2017-08-01 18:13:09 Misbehaving: 5.

[2017-08-02 03:05] chaosgrid commented on #235
Seems like I got the block header but not the actual block?

`D:\bitcoin-xt-0.11.0-G\bin>bitcoin-cli -datadir=D:\bitcoindataxt getblock 000000
000000000000651ef99cb9fcbe0dadde1d424bd9f15ff20136191a5eec
error: {"code":-32603,"message":"Can't read block from disk"}

D:\bitcoin-xt-0.11.0-G\bin>btc getblockheader 000000000000000000651ef99cb9fcbe0dadde1d424bd9f15ff20136191a5eec

D:\bitcoin-xt-0.11.0-G\

[2017-08-02 23:47] dagurval commented on #235
Thanks for reporting this issue with useful details. Can you test https://github.com/bitcoinxt/bitcoinxt/pull/236 ?

I found out that one of my nodes was also stuck and this patch solved it. Nodes that had enough of the transactions in their mempool at fork time were unaffected by this bug.

[2017-08-09 16:16] dgenr8 commented on #235
Fixed in current release (tag v0.11G).

[2017-08-09 16:16] #235 closed

[2017-08-09 16:25] dgenr8 commented on #234
XT and Core already support CPFP, albeit in slightly different forms.  XT is more demanding of any child chains, expecting a child to pay for all its unconfirmed ancestors without regard to the ancestors' fees.

I also believe unconfirmed transactions can be protected in certain circumstances without risking a scorched-earth result.

[2017-08-09 16:27] dgenr8 commented on #176
Done in release G.

[2017-08-09 16:27] #176 closed

[2017-08-09 16:28] dgenr8 commented on #141
No answer, closing.

[2017-08-09 16:28] #141 closed

[2017-08-09 17:55] #179 closed

[2017-08-09 19:03] 1Hyena commented on #234
@dgenr8
CPFP is indeed widely supported and the above whitepaper acknowledges that. In fact, the proposed solution to double-spending is dependant on CPFP.

Interestingly, CPFP also provides a workaround to TX malleability. This workaround would not even require a hard fork. You might find this reddit post interesting:
https://www.reddit.com/r/btc/comments/6pf84i/tx_malleability_is_not_a_bug_its_a

[2017-08-09 19:10] dgenr8 commented on #234
I'm going to close this unless there is an issue for XT that I am missing.

[2017-08-09 19:17] 1Hyena commented on #234
The issue is double-spending and since Bitcoin XT already relays double-spends, it is a good candidate for implementing the proposed solution to double-spending of 0-confirmation transactions. Even if it's out of the scope of the current development plan it might be worth consideration for some future release. Feel free to close the issue if it is irrelevant at the moment. I just wanted to make su

[2017-08-09 19:23] dgenr8 commented on #234
A better form for this would be the specific wallet changes that would need to be added, and just link to the white paper.  That said, wallet changes are unlikely since we have very limited development resources atm.

[2017-08-09 19:23] #234 closed

[2017-08-15 07:09] dagurval opened #241 "Hang at startup if -datadir does not exist."
### Description:
Bitcoin XT is unable to start if parameter _datadir_ is set, but directory does not exist.

The process hangs. When killing the process an exception error is shown:
[code]

### How to reproduce

Add `datadir=/path/does/not/exist` to bitcoin.conf. Start Bitcoin XT.

### Expected behavior

Log message about datadir not existing and exit

[2017-08-15 07:17] dagurval commented on #153
AFAIK all clients now support either xthin or compact blocks. XT supports both. Low chance of segregating peers with this feature now.

[2017-08-15 07:17] #153 closed

[2017-08-15 07:21] dagurval commented on #180
@rebroad Could you check if this is still an issue? The block download logic has changed after adding compact block support.

[2017-08-15 19:03] dgenr8 opened #242 "Use bitcoincash: URI prefix when appropriate"

[2017-08-16 14:48] dgenr8 commented on #161
Closing because F is obsolete.  Mac binaries are still a to-do though.

[2017-08-16 14:48] #161 closed

[2017-08-17 14:32] 1Hyena opened #245 "My BitcoinXT node does not see double-spends"
BitcoinXT daemon version v0.11.0F-58491a1

I sent a TX to my BitcoinXT node with `sendrawtransaction` and exactly at the same time I sent a double-spend TX to my Bitcoin Unlimited node. Both TXs were successfully broadcast. However, the double-spend never appeared in my BitcoinXT node's mempool. Why? Is there anything I can do to increase chances of getting the double-spends in the mempool? Perhap

[2017-08-17 18:50] dagurval commented on #245
XT is the only node implementation that supports relaying double-spends. Other nodes will not forward them so you may not see them. Your view is limited to what nodes you connect to.

To increase chances of seeing double spends you can manually add other XT nodes using `addnode`. [Here is a list](https://bitnodes.21.co/nodes/?q=XT%3A0.11). That will allow you to see double spends from all nodes th

[2017-08-17 22:11] dgenr8 commented on #245
Be sure to send the remote tx first.  As @dagurval pointed out, most nodes won't relay a tx they believe is a double-spend.

Also, while XT alerts locally and *relays* as an alert the first respend it sees, it cannot add the respend to the mempool.  The mempool can only contain transactions that the node itself would include in a block.

[2017-08-17 22:12] dgenr8 commented on #245
ACK

[2017-08-18 08:01] 1Hyena commented on #245
@dagurval thanks for the list of IPs. I've been searching for those. About connecting to more nodes, isn't `-addnode=<ip>` supposed to do this? I've been using it for my XT node and it seems to be working, although it currently shows just 10 connections which is strangely low because my script attempts to connect the XT node to at least 64 connections. Does the below log give away any obvious prob

[2017-08-18 08:17] 1Hyena opened #246 "Add a universal double-spend notification parameter"
The currently available `respendnotify` executes a command when a network tx respends wallet tx input. This cannot be used in case when the user wishes to monitor double-spends made to non-wallet addresses. I suggest adding a new notification option `conflictnotify` as described below.

[code]

[2017-08-18 10:11] 1Hyena commented on #246
I must add that since child could spend multiple vouts of the same parent, this command should be executed multiple times to cover all the conflicting vouts. Since this could pose a DoS risk then perhaps the number of calls to the specified command should be limited to 8. If the notification about a single conflicting TX would trigger more than 8 calls to the specified command then set vout to -1

[2017-08-18 16:54] dgenr8 commented on #245
A debian package for Release G (Bitcoin Cash) has not been built.  You need to install it from the releases section here, under "Code".

[2017-08-18 16:57] dgenr8 commented on #246
@1Hyena Are you able to add the addresses you're interested as watch-only?  Use ``importaddress``.

[2017-08-18 17:12] 1Hyena commented on #246
@dgenr8 not when pruning mode is enabled

[2017-08-21 08:09] 1Hyena commented on #245
Ok, somehow I managed to finally detect one dobule-spend with the help of XT. Let's close it for now.

[2017-08-21 08:09] #245 closed

[2017-08-25 06:33] algorithmcode opened #254 "Which exchange can i trade this bitcoin except BitYep.com?"
I want have some this coins.

[2017-08-25 07:30] dagurval commented on #254
User has opened issues with the same question on at least 14 other crypto projects in GitHub. Closing.

[2017-08-25 07:30] #254 closed

[2017-08-25 20:27] dgenr8 commented on #152
Obsolete.

[2017-08-25 20:27] #152 closed

[2017-08-27 19:41] #62 closed

[2017-08-29 16:51] dagurval opened #256 "pruning test fails"
pruning fails with following error:

[code]

I added the following debug output to see what's happening:

[code]

Output in logfile is:
[code]

Log did not contain any `Leaving block file %i` line, so it seems we hold on to with blk00000 longer than we expect to. Maybe because of https://github.com/bitcoinxt/bitcoinxt/blob/master/src/main.cpp#L3211 ?

[2017-08-31 23:13] dgenr8 commented on #256
Are you sure this isn't related to python3?  It passes for me on master d2379f9e0ebe7b8f86766e8f0850c1832f156806.

[2017-09-01 11:33] dagurval commented on #256
Fails for me on master. If I revert 27155ae8d072bdd32f068e376ec17dc2bc08d2f6 it works.

27155ae8d072bdd32f068e376ec17dc2bc08d2f6 causes regtest to bump max blocksize to 8MB, thus increases my suspicion of https://github.com/bitcoinxt/bitcoinxt/blob/master/src/main.cpp#L3211 being at fault

I'm not sure what's correct the correct way to fix it; 1) reduce database block file size or 2) mine bigger b

[2017-09-01 19:27] dagurval commented on #195
How about a more advanced "mempool" network request?

`mempool(filter, flags)`

where `filter` contains the transactions _you already have_. What you want to receive back is a list of transactions that **don't** match the filter. This is the opposite of what the current mempool command does. This is similar to `get_xthin` request.

By default a node receiving this request could reply with `<= curr

[2017-09-04 16:30] 1Hyena opened #260 "Arch linux release has no GUI and bitcoind exits with Exec format error"
I'm upgrading to Bitcoin Cash and I had to choose between all those full node wallets. The reason why I chose BitcoinXT was because it was the only wallet that had arch linux binaries ready (I just switched from Linux Mint to Arch Linux). Also BitcoinXT defaults to Bitcoin Cash fork, other dev teams have a separate release for Cash. So that's why I chose XT and wanted to thank you guys for making

[2017-09-05 19:04] dgenr8 commented on #260
Can you recommend a quick way to create an environment to reproduce the error you are getting?

If we aren't able to fix this soon, we'll probably remove the build. It would be great if anyone would like to help.

[2017-09-05 19:24] 1Hyena commented on #260
Interestingly the normal linux 64bit build worked well on my arch (manjaro linux to be exact but it is essentially still arch) :D . I have to admit that I haven't used arch linux before so I am just learning it. so the only way I could recommend a way to reproduce the error is to boot a [manjaro linux cinnamon build](https://sourceforge.net/projects/manjarolinux-community/files/cinnamon/17.0.2/) f

[2017-09-05 19:27] 1Hyena commented on #260
woops, my bad :D turns out aarch64 is for ARM processors:
https://archlinuxarm.org/platforms/armv8/generic

so I accidentally thought it was for regular arch linux. sorry for creating confusion

[2017-09-05 19:27] #260 closed

[2017-09-06 12:49] sleepndevelop opened #262 "System freeze while syncing"
Hello,
i've been trying to run a Bitcoin Cash node on Windows 10 Home 64bit for days now, and i'm running into the same issue every time: my PC freezes while the node is syncing and i need to reboot via hardware.

I've tried 3 different BCC clients based on Bitcoin Core: Bitcoin Classic 1.3.6-UAHF , Bitcoin Unlimited and now bitcoin-xt-0.11.0-G 64bit.
Makes no difference, they all freeze the syste

[2017-09-06 21:16] dgenr8 commented on #262
Could you paste in the first and last 50 lines of your debug.log file?

[2017-09-06 21:28] sleepndevelop commented on #262
First 100:
2017-09-06 11:54:51

2017-09-06 11:54:51 Bitcoin XT version v0.11G2 (2017-08-25 10:06:54 -0700)
2017-09-06 11:54:51 AppInit2 : parameter interaction: -prune -> setting -disablewallet=1
2017-09-06 11:54:51 Prune configured to target 600MiB on disk for block and undo files.
2017-09-06 11:54:51 GUI: "registerShutdownBlockReason: Successfully registered: Bitcoin XT didn't yet exit safely...

[2017-09-06 21:28] sleepndevelop commented on #262
Last 100:
2017-09-06 12:00:47 UpdateTip: new best=00000000d431d2d4c83af8e071ddca5a02074f7efb1d5b53c6a9b4c406ec3797  height=7658  log2_work=44.902962  tx=7738  date=2009-03-16 13:12:19 progress=0.000019  cache=1.8MiB(7316tx)
2017-09-06 12:00:47 UpdateTip: new best=0000000032210a550a05eae0b103aaf0da198a49342fa9822378171b4dc959ee  height=7659  log2_work=44.903151  tx=7739  date=2009-03-16 13:22:05 pr

[2017-09-07 21:51] 1Hyena opened #264 "Bitcoin Cash block chain download stuck at block 461680"
[code]
Restarting the node does not help it. Deleting `peers.dat` didn't help either.

[2017-09-07 22:01] sleepndevelop commented on #262
P.S. i have tried both without "prune" and with -prune=600 , no difference

[2017-09-08 13:19] testeriknl commented on #262
@dgenr8 @sleepndevelop I hope my comment can help a bit. I use ABC and encountered same problems. Alas my debug.log doesn't contain these moments anymore. After several weeks (24x7) ABC finally downloaded the full chain last night. My experience: I encountered a lot of couldn't find other nodes and connections refused(61). Moments after restart you have 8 connections, a half an hour later everybod

[2017-09-08 14:05] sleepndevelop commented on #262
@testeriknl My issue is different because my wallet is freezing the whole system, not just a program.
I can not even move the mouse pointer anymore and i am forced to shutdown/reboot my PC via hardware

[2017-09-08 14:41] testeriknl commented on #262
@sleepndevelop Wow. Sorry. I must have skipped that line in the enthusiasm my download completed this morning. At this point I even doubt Bitcoin ABC:0.14.6(EB8.0) - I use - would help. The only thing I want is everyone up and running.

[2017-09-08 18:33] dagurval commented on #264
Could you add `debug=` to your bitcoin.conf, restart and share the entire log after startup? Either upload it here or if you prefer send it to me at `dagurval@pvv.ntnu.no`.

[2017-09-09 04:50] dgenr8 commented on #262
@sleepndevelop I'm not sure it's causing your syncing problem but I notice you're running pruned and expecting to use the wallet.  This is something that XT does not support yet.  Even though we have ported many of the better features from later versions of core, wallet support with pruning is not in.

[2017-09-09 19:52] sleepndevelop commented on #262
Tried again this time without pruning.
Command:
`X:\bitcoin-xt-0.11.0-G\bin\bitcoin-qt.exe -datadir=X:\bcc-wallet`
Before running it i've deleted all contents in X:\bcc-wallet
It crashed after like 2 minutes while synchronizing

Debug.log: https://1drv.ms/u/s!Ao4pRXNsgcpfimXILp4JsCVCMm7V

I could update my Wireless driver, then i'll let you know if that solved the issue.

Alternatively i may skip

[2017-09-09 21:16] sleepndevelop commented on #262
Updated my network driver, seems to be stable now while syncing after 30min. Maybe it was just a net driver issue then.
Will let you updated

[2017-09-10 00:21] dgenr8 commented on #262
If you do end up wanting to use existing data files, just specify -reindex on the first restart.  The reindex process is also a lengthy one.

[2017-09-10 21:08] dgenr8 commented on #256
Re-ran and it failed for me this time.  I think a change to the test might be needed to accommodate the larger .blk files.

[2017-09-11 20:14] 1Hyena commented on #264
@dagurval sent you the e-mail with the debug log

[2017-09-13 07:58] 1Hyena commented on #264
Executed this, as suggested by @dagurval
[code]

and the block chain started downloading again. my node is now fully synched and the whole block chain downloaded without any further issues.

[2017-09-13 07:58] #264 closed

[2017-10-01 23:54] #256 closed

[2017-10-01 23:55] dgenr8 commented on #242
Fixed by #248.

[2017-10-01 23:55] #242 closed

[2017-10-09 08:37] dagurval opened #267 "Use Bitcoin Cash magic"
When on the Bitcoin Cash network, we should use Bitcoin Cash magic when connecting to peers.

Relevant commits from other projects:
https://github.com/Bitcoin-ABC/bitcoin-abc/commit/ac77d27dd02bd77f566361bd8747e87316b6992a
https://github.com/Bitcoin-ABC/bitcoin-abc/commit/61ac0e7c0d6f454c2eac8c4ce0dca7876db2fc02
https://github.com/BitcoinUnlimited/BitcoinUnlimited/pull/794

[2017-10-10 21:17] dgenr8 opened #268 "Support 2x fork"
Add a mode to support the 2x fork to 2MB at block 494,784.  In this mode, activate bip100 at the same block.

Mutually exclusive to Cash (--uahfstarttime) mode.  Review 2x for other consensus changes such as fork-block-must-be-big.

This does not imply adding support for segwit.

[2017-10-23 06:47] phillipsjk opened #269 "Does not use exponential back-off upon connection failure."
This is mainly a log-flooding complaint, but has DDOS implications as well.

    2017-10-16 22:43:12 connect() to 195.154.168.129:8333 failed after select(): Connection refused (111)
    2017-10-16 22:43:12 connect() to 195.154.168.129:8333 failed after select(): Connection refused (111)
    2017-10-16 22:43:13 connect() to 195.154.168.129:8333 failed after select(): Connection refused (111)
    2

[2017-10-23 20:59] dgenr8 commented on #269
Thank you @phillipsjk.  The first step will be to see if core has fixed this.  If so, we can cherry-pick.  If not, we will fix it here (patches welcome).

[2017-10-23 22:23] phillipsjk commented on #269
My bitcoin ABC node does not appear to exhibit the same behaviour. I wonder if the host in question is hard-coded somehow. From the same time-period:

    2017-10-16 20:52:17 connect() to 94.142.242.84:8333 failed after select(): Connection refused (61)
    2017-10-16 20:58:29 connect() to 198.245.60.8:8333 failed after select(): Connection refused (61)
    2017-10-16 21:03:45 connect() to 212.92.

[2017-10-27 18:13] dgenr8 opened #271 "Cash hard fork Nov 13"
New DAA
Enforce NULLDUMMY
Enforce LOW_S

[2017-10-28 13:19] 1Hyena opened #275 "wallet conflicts prevent me from spending totally valid outputs"
![bitcoinxt_fuck](https://user-images.githubusercontent.com/3479475/32134698-8001aed4-bbfb-11e7-8e73-c76d3d425be2.png)

I am unable to spend anything from my wallet with v0.11G2 because there are a couple of really old conflicted TXs or something, I don't know. Fact is that all block explorers tell me a valid balance on my address but bitcoinxt is unable to spend anything. very fustrating, even -r

[2017-10-28 13:44] 1Hyena commented on #275
yep -zapwallet mode 2 did not work either! there are no more conflicting TXs in my TX history but I still can't spend anything. this is ridiculous

[2017-10-28 15:42] 1Hyena commented on #275
Just letting you know that I was able to manually construct the needed TXs from the debug window using RPCs. I then pushed the raw transaction hex to the network using the web interface from viabtc mining pool. so it is definitely some wallet software related bug, nothing wrong with my transactions

[2017-10-30 21:32] andyrowe commented on #271
Is XT going to merge this DAA?  Folks are asking in r/bitcoinxt and I figure I'd update them.

[2017-11-01 02:24] phillipsjk commented on #269
Not sure if it is relevant, but the clock on the machine in question has been losing over 1 minute per day. Will try to reproduce the results on a second machine when I have time. I will of course let you know if replacing the clock battery seems to fix it.

[2017-11-01 02:29] phillipsjk commented on #271
In any case, this may be an opportunity for me to set up a Bitcoin Cash fork monitor like this one:

https://www.btcforkmonitor.info/

I still have not finished the IRL stuff that prevented my fork monitor from being ready in August though.

[2017-11-01 05:25] dgenr8 commented on #271
XT will be able to follow consensus changes to the cash network at the time they go into effect.

[2017-11-01 05:28] dgenr8 commented on #269
That may be it.  By default, as a security measure,  XT does not adjust its clock to follow its peers.  You are responsible for your clock being accurate unless you change -maxtimeadjustment to something greater than 0.

[2017-11-07 08:40] 1Hyena commented on #271
@dgenr8 hopefully we'll see a new version published soon then

[2017-11-07 15:29] phillipsjk commented on #269
I fixed the clock (by installing a new battery), same behaviour:

    2017-11-07 15:21:44 Bitcoin XT version v0.11G2 (2017-08-25 10:06:54 -0700)
    2017-11-07 15:21:44 Using OpenSSL version OpenSSL 1.0.1k 8 Jan 2015
    2017-11-07 15:21:44 Using BerkeleyDB version Berkeley DB 4.8.30: (April  9, 2010)
    2017-11-07 15:21:44 Default data directory /home/bitcoin/.bitcoin
    2017-11-07 15:21:44 Usi

[2017-11-07 21:01] dgenr8 commented on #271
Closing, the November 2017 cash hard fork is implemented #277.  Release H will support the fork and be published as soon as possible.

[2017-11-07 21:01] #271 closed

[2017-11-08 12:38] dagurval commented on #267
Solved by https://github.com/bitcoinxt/bitcoinxt/pull/278

[2017-11-08 12:38] #267 closed

[2017-11-10 18:50] sanktk opened #279 "Assertion failed!"
Edit: Sorry, I fucked up the overwriting of old files.

[2017-11-10 18:59] #279 closed

[2017-11-10 20:27] dgenr8 commented on #279
@sanktk You need to upgrade.  That assertion was removed several releases ago.

[2017-11-21 05:41] Klakurka commented on #268
Can probably close this one.

[2017-11-22 14:31] #268 closed

[2017-11-24 20:12] jli225 opened #281 "Resurrect LightHouse on the Bitcoin Cash chain"
https://github.com/vinumeris/lighthouse/issues/202

I think we should resurrect LightHouse on the Bitcoin Cash chain, whether it's still useful or not.

LightHouse was once a big thing in Bitcoin World. As for me, it's our obligation to have the available code on the Bitcoin (Cash) chain.

I would like to sponsor this movement. My budget is enough for it.

So, how can we start?

[2017-11-25 00:17] dgenr8 commented on #281
The XT client support for GETUTXOS is still there in the Bitcoin Cash version.

[2017-11-26 20:33] jli225 commented on #281
@dgenr8 Thank you. Now it's only a matter of time.

[2018-01-05 18:31] phillipsjk commented on #269
My node no longer does this. I wonder if the 0.11.0-G release fixed this somehow.

Or, since nobody reproduced it: maybe it only happens under special circumstances;

[2018-01-16 21:15] #275 closed

[2018-01-18 18:28] dgenr8 commented on #275
@1Hyena I don't know how to go further without asking for a copy of your wallet which I'm not optimistic will be acceptable for you...

[2018-01-18 18:53] 1Hyena commented on #275
@dgenr8 yes :D this is true. well since I created this issue I actually soon had to change my wallet to bitcoin unlimited because xt prevented me from creating TXs due to named issue. I can only say that BUCash wallet also shows me that some of my TXs are unconfirmed since 10. 28. 2017 but at least it lets me spend my UTXOs. unfortunately I had to make another switch from bitcoinxt to BUCash becau

[2018-01-18 22:25] dgenr8 commented on #275
Another thing to try is running with -salvagewallet (on a copy!)

[2018-01-24 09:42] dagurval opened #309 "Don't require CASH service bit for outgoing connections"
BU is removing the service bit `NODE_BITCOIN_CASH`, relying only on the network magic in https://github.com/BitcoinUnlimited/BitcoinUnlimited/pull/905/commits/a92953f0d219fd7e89c289409c9a940fa5f4eda9

We require this flag for outgoing connections. This means that XT will no longer make outgoing connections to Bitcoin Unlimited nodes.

We need to remove this requirement, preferably before the May n

[2018-01-24 10:07] dagurval opened #310 "Don't log invalid network magic"
The log files of XT nodes are flooded with the following message:

`2018-01-24 09:58:54 PROCESSMESSAGE: INVALID MESSAGESTART version peer=35758`

This is caused by peers using the wrong network magic trying to talk to us. We should either 1) log, ban and disconnect OR 2) don't log and disconnect these peers.

Related: https://reviews.bitcoinabc.org/D934

[2018-01-24 10:47] dagurval opened #311 "[QT] Splash screen looks bad on high resolution"
With 3840x2160 resolution, the splash screen at startup looks like this:

![xt_splash](https://user-images.githubusercontent.com/92707/35328285-21d98688-00fc-11e8-8781-8a24359547e1.png)

[2018-01-24 12:40] dagurval opened #312 "Test suite refers to closed mailing list"
When `make check` fails, the test suite requests that user reports it to the now closed mailing list

[code]

It should instead request that it's reported as an issue on github.

[2018-01-25 08:52] sickpig commented on #309
@dagur cash service bit restored.

https://github.com/BitcoinUnlimited/BitcoinUnlimited/pull/905/commits/72a18bde38d0bbeb5598893dcc2430d7ba6fae37

thanks!

[2018-01-25 11:16] dagurval commented on #309
@sickpig Great :-).

I still think it’s a good idea to remove the requirement and sunset use of the bit.

[2018-01-25 11:34] sickpig commented on #309
indeed, we should agree on a deprecation time line.

[2018-02-06 21:46] dagurval opened #323 "Tests TooLargeVerack and TooLargePing are testing uninitialized data"
Tests [_TooLargeVerack_ and _TooLargePing_](https://github.com/bitcoinxt/bitcoinxt/blob/master/src/test/ReceiveMsgBytes_tests.cpp#L99) create a dummy node, but don't insert it into NodeStatePtr.

This causes `GetNodeStateStats` to return immediately without initializing `stats`. The test does checks on uninitialized data.

Found when debugging why these tests randomly fail.

From gdb:
[code]

[2018-02-07 18:55] dgenr8 commented on #310
Once we have Conman, https://github.com/bitcoin/bitcoin/commit/c5a8b1b946b1ab0bb82bd4270b2a40f5731abcff gets us the disconnect behavior.  The abc diff to ban appears incomplete.

[2018-02-15 12:44] dagurval opened #337 "Implement new opcodes"
We need implement new opcodes for the upcoming network upgrade in May 2018. See https://github.com/Bitcoin-ABC/bitcoin-abc/pull/165

[2018-02-16 17:35] dagurval commented on #309
@chaintip

[2018-02-16 18:19] chaintip commented on #309
`0.003 BCH`| `~   4.38 USD` has [been tipped](https://explorer.bitcoin.com/bch/address/bitcoincash:qqh0ld4gkk5wkyq8pqg6n2s993us5678tqapusd3nl) to this issue by @dagurval.
To claim [this bounty](http://github.chaintip.org/chaintip/bounties/issues/5), get a pull request merged with ```@chaintip fixes #309``` in the creation comment.

[2018-02-16 19:51] tea-spoon commented on #309
@chaintip 5 days

[2018-02-16 19:52] chaintip commented on #309
Thank you @tea-spoon! `0.00368166 BCH`| `~   5.41 USD` has now been tipped to this issue.
To claim [this bounty](http://github.chaintip.org/chaintip/bounties/issues/5), get a pull request merged with ```@chaintip fixes #309``` in the creation comment.

[2018-02-17 20:26] mogray5 opened #339 "Log filled with INVALID MESSAGESTART"
Hi I have version 0.11.0-H running for Bitcoin Cash and my logs are filled with message like below.   I'm running the client on a Debian machine.  Any help is appreciated.  Thanks.

2018-02-17 20:19:34 PROCESSMESSAGE: INVALID MESSAGESTART version peer=1744977

[2018-02-17 20:36] dagurval commented on #339
We plan to fix this, see issue https://github.com/bitcoinxt/bitcoinxt/issues/310

For now you can ignore it, or remove this line and re-compile XT https://github.com/bitcoinxt/bitcoinxt/blob/68511ffd259960fa21953f4ced13ea26d9703661/src/main.cpp#L5839

[2018-02-20 08:42] dagurval commented on #323
Fixed in https://github.com/bitcoinxt/bitcoinxt/commit/dc52e1438ba3391f39e3c266942c30df76914cf5

[2018-02-20 08:42] #323 closed

[2018-02-21 19:51] chaintip commented on #309
`0.003 BCH`| `~   3.89 USD` has now been tipped to this issue.
To claim [this bounty](http://github.chaintip.org/chaintip/bounties/issues/5), get a pull request merged with ```@chaintip fixes #309``` in the creation comment.

[2018-02-24 01:18] mogray5 commented on #339
Ok thanks.  My node wasn't showing up on https://cash.coin.dance/nodes so I was thinking it was down due to this error but appears coin.dance had an issue of their own causing it not to be counted.

[2018-02-24 01:59] dgenr8 commented on #339
@mogray5 Ok to close?

[2018-02-24 02:09] mogray5 commented on #339
Ok with me.

[2018-02-24 02:09] #339 closed

[2018-03-18 00:27] vr4dude316 opened #361 "NOMP Pool Not working"
Have the daemon/wallet built.  Trying to run on UNOMP pool.  Not able to start the coin

[2018-03-18 00:41] dgenr8 commented on #361
What are instructions to see this?

[2018-03-18 19:56] vr4dude316 commented on #361
i am not able to ssh to my box at the moment.  I will post the output of the pool start when available.  thanks for your reply.

[2018-03-18 21:50] chaintip commented on #309
`0 BCH`| `~   0.00 USD` has now been tipped to this issue.
To claim [this bounty](http://github.chaintip.org/chaintip/bounties/issues/5), get a pull request merged with ```@chaintip fixes #309``` in the creation comment.

[2018-03-19 16:45] vr4dude316 commented on #361
Here is the output when attempting to start pool.  All other SHA256 coins i have running work fine.  I've tried using the old "Legacy" address and cash addresses...

unomp@ubuntu:~/unomp$ node init.js
[2018-03-19 12:42:02.760] [INFO] [default] - New Relic
[2018-03-19 12:42:02.764] [DEBUG] [default] - NewRelic Monitor New Relic initiated
[2018-03-19 12:42:02.768] [INFO] [default] - POSIX Not Instal

[2018-03-19 17:28] dgenr8 commented on #361
Since I'm totally unfamiliar with unomp, you will have to describe the problem in terms of what it is asking XT to do, what it expects XT to do, and what XT actually did.  From the log though it looks like you have a BTC chain, not cash.  If you are re-using an existing data directory you need to launch XT with the -reindex option one time and wait for the reindex to complete (days).

[2018-03-19 21:47] vr4dude316 commented on #361
when I getnewaddress, i received a cash address.

[2018-03-19 23:04] dgenr8 commented on #361
Right.  XT launches in cash mode by default, but needs to be told to reindex the first time it runs with an old data directory.

[2018-03-20 06:19] dagurval commented on #361
You can disable cash addresses by adding cashaddr=0 to bitcoin.conf

[2018-03-21 01:50] vr4dude316 commented on #361
no luck.  still running cashaddress  thanks for the tip though

[2018-03-21 04:33] dagurval commented on #361
Sorry, the parameter is usecashaddr=0

[2018-03-21 09:42] vr4dude316 commented on #361
That was the trick.  Pool is starting now….

Mr. Chris Staples
Manager, Information Systems
Marist School
3790 Ashford Dunwoody Rd
Atlanta, GA 30319
770.936.6403
staplesc@marist.com

From: dagurval <notifications@github.com>
Sent: Wednesday, March 21, 2018 12:33 AM
To: bitcoinxt/bitcoinxt <bitcoinxt@noreply.github.com>
Cc: Mr. Chris Staples <staplesc@marist.com>; Author <author@noreply.github.com>

[2018-04-04 17:58] #361 closed

[2018-04-05 06:39] dagurval commented on #310
https://reviews.bitcoinabc.org/D1234

[2018-04-12 06:47] dagurval opened #380 "Build broken on Debian 9"
[code]

Related fix: https://github.com/bitcoin/bitcoin/pull/9326/commits/bae1eef752dcecfd85fa482881e1dbe4d7e9f74c
Core fixed this instance by replacing use of OpenSSL: https://github.com/bitcoin/bitcoin/commit/9049cde4d962862f507f9ddf1c0dbd49ea04be51

[2018-04-12 06:58] dagurval opened #381 "bitcoind aborts if bitcoin.conf doesn't exist"
[code]

Log contents:
[code]

[2018-04-12 07:10] dagurval opened #382 "node segfaults due to curl ssl incompatibilities on Debian 9"
During build, these warnings popped up:
[code]

At startup, the node segfaults with this stacktrace:
[code]

Workaround: Start node with `-disableipprio`

[2018-04-12 20:53] dagurval opened #383 "Debian installer uses ticker BCC"
The [debian installer](https://github.com/bitcoinxt/bitcoinxt/tree/master/contrib/gitian-debian) still uses ticker BCC. Needs to be updated to BCH.

[2018-04-12 20:54] dagurval commented on #337
Fixed in #373 and #374

[2018-04-12 20:54] #337 closed

[2018-04-13 20:37] #180 closed

[2018-04-24 02:38] shadders commented on #281
@jli225 I have a working build of lighthouse that uses bitcoinj.cash as it's backing library.  The client works and can create and complete projects.  I haven't broadcast my test project yet as there's no lighthouse server running and I haven't had time to set one up and test it.  If someone wants to build on this that would be great as I doubt I will have time to work on this for at least a few m

[2018-04-27 03:40] #383 closed

[2018-04-27 06:31] dagurval commented on #312
Looks like this has been fixed:
[code]

[2018-04-27 06:31] #312 closed

[2018-04-30 15:52] #380 closed

[2018-04-30 16:44] #382 closed

[2018-05-02 23:16] dgenr8 commented on #130
Jenkins working well

[2018-05-02 23:16] #130 closed

[2018-05-02 23:19] dgenr8 commented on #111
Outdated in specifics.  With the UTXO database update soon we'll be database compatible with the other cash implementations, aside from not supporting obfuscation.  Compatibility with the BTC chain will only be maintained while it's trivial to do so.

[2018-05-02 23:19] #111 closed

[2018-05-02 23:24] dgenr8 commented on #61
Outdated.  XT implemented child-pays-for-ancestors in #90.

[2018-05-02 23:24] #61 closed

[2018-05-02 23:27] #77 closed

[2018-05-02 23:29] #110 closed

[2018-05-03 07:32] dagurval opened #413 "secp256k1 tests fail to build on Debian 9"
Running `make check` fails with the following compilation error:

[code]

[2018-05-04 04:50] shravan-shandilya opened #416 "BIP64"
Hi Team,
I learned from the BitcoinXT website that, it supports 'getutxos' (BIP64). How do I use it?
Is there a RPC call for this particular feature? If yes, its not part of the Ubuntu PPA build.
Can you please provide instructions to enable this?

[2018-05-04 05:10] dagurval commented on #416
Hi,

BIP64 is in the network protocol only, so you’d have to connect to bitcoind as a node to use the call.

However, the RPC function ‘gettxout’ returns the same info. Did you see that function?

[2018-05-06 16:33] shravan-shandilya commented on #416
Thanks @dagurval
As I understand 'gettxout' gives the detail of a particular UTXO given the Transaction ID and output Index.
I was looking to list all the available UTXOs for a given address.

[2018-05-06 16:33] #416 closed

[2018-05-12 06:39] jeffgran commented on #381
Looking through the code it seems like this is intended behavior. It looks like it's trying to prevent you from accidentally starting it with no password since that would be a big security risk.

What do you think is the expected behavior here? Should we just check earlier in the initialization process and give a nicer error message? How nice? Like, link to the docs nice or just "cannot continue w

[2018-05-12 20:37] dagurval commented on #381
The error message is okay, however, there is an exception that is uncaught and it causes the program to abort. We want it to exit clean.

I checked the stacktrace now:
[code]

So `std::thread::join()` is throwing a `std::system_error`. We need to either figure out why it's throwing and fix that, or if it has a reason to, catch and log the exception in either StopHTTPServer, Shutdown or AppInit.

[2018-05-13 19:09] dagurval commented on #413
Also fails with the same error on latest Ubuntu

[2018-05-17 20:55] tomasvdw commented on #413
It's working for me (Debian), but I've seen this before; I believe you need to install openssl 1.0 instead of (just) openssl 1.1. That is: sudo apt-get install libssl1.0-dev

[2018-05-18 16:59] dgenr8 commented on #413
Subtree updated. How does this look?

[2018-05-23 00:38] #241 closed

[2018-05-23 06:42] #381 closed

[2018-05-23 06:51] dagurval commented on #413
[code]

There is a warning, but tests compile and pass now :+1:

[2018-05-23 06:51] #413 closed

[2018-05-25 15:44] dgenr8 opened #434 "Intermittent assertion failure in blockchain.py"
I suspect this has to do with recent cherry-picks of utxo set features.
[code]

[2018-05-28 17:55] core-code opened #437 "BitCoin-XT Mac version just used the bundle identifier from the official bitcoin client"
please change the
CFBundleIdentifier
in
share/qt/Info.plist.in

from
org.bitcoinfoundation.Bitcoin-Qt
to something else

each Mac app has to have a unique bundle ID, so stealing the bundle ID from some other project is a super bad idea

[2018-05-29 15:16] dgenr8 commented on #437
Thank you @core-code.  Ping @kyuupichan @jeffgran

[2018-05-31 09:24] dagurval opened #440 "Faster data structure for coins cache"
We use `std::unordered_map` for the coins cache. This data structure [is not great](https://www.youtube.com/watch?v=fHNmRkzxHWs&feature=youtu.be&t=46m15s).

It would be interesting to see if any of the swap in alternatives that exist may give us performance boost. Especially under IBD.

Here is a comparison from [this article](https://probablydance.com/2018/05/28/a-new-fast-hash-table-in-response-

[2018-06-05 11:34] dagurval opened #443 "Stealth mode broken on BCH"
The stealth mode (`-stealth-mode=1`) which was introduced during the XT targeted DDoS attacks in 2015 makes XT masquerade as an older version of Bitcoin Core.

This obviously won't fool anyone on the Bitcoin Cash network. Suggest we either make XT masquerade as a different BCH client or completely remove this feature.

[2018-06-05 16:54] dgenr8 commented on #443
I vote for removal.

[2018-06-10 20:43] dgenr8 commented on #434
Today started getting this every time, cleared up by `rm -rf cache`

[code]

[2018-06-12 20:29] dagurval opened #451 "dbcrash test fails"
The dbcrash test fails sporadically on jenkins. Test was introduced in https://github.com/bitcoinxt/bitcoinxt/pull/439. There are two different types of failures observed in the log files:

[code]

[code]

[2018-06-14 14:23] #437 closed

[2018-06-14 23:58] #443 closed

[2018-06-26 10:09] dagurval opened #462 "Export double spends"
We need a method for exporting double spends detected.

This can be either:
* RPC call that serves a list of the last x number of [first seen, second seen] of double spending transactions.
* A new easily parsed log file + python parser example
* Something else.

This should be done by implementing the [RespendAction](https://github.com/bitcoinxt/bitcoinxt/blob/master/src/respend/respendaction.h) i

[2018-07-27 07:53] 360CodeSafe opened #471 "value never read"
src/addrman.cpp  line 62

value store to 'nSinceLastSeen' is never read

[2018-07-30 01:56] #471 closed

[2018-08-03 11:05] phillipsjk commented on #269
I am going to assume version J fixes it. (Release notes mention updated network code from core),.

[2018-08-03 11:05] #269 closed

[2018-08-23 14:50] dgenr8 opened #475 "Support Generalize Version Bits (BIP135)"
Supporting [BIP135](https://github.com/bitcoin/bips/blob/master/bip-0135.mediawiki) will allow the flexibility needed to use the version bits mechanism to safely deploy both soft and hard forking changes.

[2018-10-06 17:21] dgenr8 opened #494 "Support block files > 2GiB on windows"
Factor out reliance on fseek(... long int ...) and anything else preventing use of > 2GiB files.

[2018-10-22 14:15] dgenr8 commented on #494
#495 is a workaround that makes us not try to generate files > 2GiB.

[2018-11-22 23:29] miranos opened #514 "BCHForum.org - For a solid community"
Hi,

We invite you to join Bitcoin Cash Forum: https://bchforum.org

Welcome !

[2018-11-28 13:13] #514 closed

[2019-02-27 06:47] Quaternioneer opened #518 "Move as many options into config file as is reasonable"
Many operators track changes to config files in /etc. However, forcing a user to change options in /lib/system defeats that. Keeping default options int the config file would make BitcoinXT friendlier to production implementations and advanced users and is more intuitive in general.

It seems prudent to keep --disable-wallet in the /lib/system/systemd/*.service file. At this point, using a full no

[2019-05-07 21:30] dgenr8 commented on #475
Fixed by #477.

[2019-05-07 21:30] #475 closed

[2020-03-11 12:20] #63 closed

[2020-08-31 08:40] tunisiano187 opened #520 "Virus detection"
The release is detected as a virus, can you do something?
like in the PR #118

Thank you

[2020-08-31 10:48] dagurval commented on #520
This software is no longer maintained. It would probably be best to remove it from the chocolatey package manager.

[2022-04-04 20:36] #113 closed